/** cart page **/
.title-real h1 {
    font-size: 35px;
    padding: 0 0 15px;
    color: #5bbc2e;
    font-weight: bold;
    border-bottom: 2px solid #5bbc2e;
	margin-bottom: 30px;
}
.data-real-time table.table.table-bordered {
    text-align: center;
}
.data-real-time td.pregnent-td-new {
    font-size: 55px;
    font-weight: 300;
}
h1.titles {
    background-color: #5bbc2e;
    text-align: center;
    font-size: 17px;
    padding: 20px;
    font-weight: bold;
    margin: 0;
    border-radius: 10px 10px 0 0;
}
.new-test-results, .enroll-ttl {
    margin-top: 30px;
}
td.row-spans-ttl {
    font-weight: bold;
    text-align: left;
    padding: 15px 0px 10px 40px;
    font-size: 20px;
}
.new-test-results table thead tr th {
    border: none;
	font-weight: 400;
}
.map-section .simplebar-placeholder {
    height: auto !important;
}

/** Base for label styling */
div#countriesList [type="checkbox"]:not(:checked),
div#countriesList [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
div#countriesList [type="checkbox"]:not(:checked) + label,
div#countriesList [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
/** checkbox aspect **/
div#countriesList [type="checkbox"]:not(:checked) + label:before,
div#countriesList [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  background: #5bbc2e;
}
/** checked mark aspect **/
div#countriesList [type="checkbox"]:not(:checked) + label:after,
div#countriesList [type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size:16px;
  line-height: 17px;
  color: #fff;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/** checked mark aspect changes **/
div#countriesList [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
div#countriesList [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.map-section .simplebar-content-wrapper {
    height: 500px !important;
}



/*** responsive ***/
/** 1199px **/

@media only screen and (max-width: 1199px){
	.map-section div#regions div, .map-section div#regions svg {
		width: 100% !important;
	}
	h1.titles {
		font-size: 16px;
	}
}

@media only screen and (max-width: 991px){
	.breakpoint-off .classynav {
		flex-wrap: wrap;
	}
	.classynav ul {
		width: 100%;
	}
	.classynav #nav a {
		padding: 0 25px;
	}
	.btn.login-btn.ml-50 {
		margin: 15px 25px;
	}
	.classy-menu.open-menu {
		left: 0;
	}
}

@media only screen and (max-width: 767px) {
		.classy-menu.open-menu {
		left: 0;
	}
    .login-btn {
        margin: 30px;
	}
	.margn-top-mbl {
		margin-top: 30px;
	}
	/**.new-test-results .table-bordered td, .new-test-results .table-bordered th {
		word-break: break-word;
	}**/
	td.row-spans-ttl {
		padding: 10px;
	}
	.map-section ul#clist {
		display: flex;
		flex-wrap: wrap;
	}
	.map-section ul#clist  li {
		width: 50%;
	}
	.title-real h1 {
		margin-top: 30px;
	}
	.pctr-tble {
		overflow-x: auto;
	}
	.pctr-tble {
	  --scrollbarBG: #CFD8DC;
	  --thumbBG: #5bbc2e;
	}
	.pctr-tble::-webkit-scrollbar {
	  width: 5px;
	}	   
	.pctr-tble::-webkit-scrollbar {
	  height: 5px;
	}	 
	.pctr-tble::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}	 
	.pctr-tble::-webkit-scrollbar-thumb {
	  background-color: #5bbc2e;
	  outline: 1px solid slategrey;
	}
}

@media (max-width: 767px) {

	.hide85 {
		margin-bottom: 0px;
	}

	.hide20 {
		margin-bottom: 0px;
	}

	.map-section .simplebar-content-wrapper {
	height:150px !important;
	}
}

#countriesList ul li {
	position: relative
} 