﻿.login_new {
    width: 480px;
    text-align: center;
    margin: 60px auto;
    padding: 40px 30px;
    border: 1px solid #eaeced;
    box-shadow: 0 5px 40px 0 rgba(0,0,0,.11);
    border: 0;
    border-radius: 10px;
}

    .login_new h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .login_new p {
        font-size: 13px;
        line-height: 22px;
    }

        .login_new p a {
            color: #222;
            text-decoration: underline;
        }

            .login_new p a:hover {
                text-decoration: none;
            }

    .login_new label {
        font-size: 12px;
        margin-bottom: 5px;
        text-align: left;
        display: block;
    }

.input_style {
    margin-bottom: 15px;
    font-size: 14px;
    height: 38px;
}

.login_new button, .form-control.btn_register button {
    background: #5bbc2e;
    border: 0px;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
}

    .login_new button:hover, .form-control.btn_register button:hover {
        background: #4eb320;
    }

.register_new {
    width: 700px;
}

    .register_new .form-control, .login_new .form-control {
        border: 0px;
    }

.form-control.btn_register button {
    width: 200px;
}

.register_new .form-control, .card.edit_profile .form-control {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: left;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-control.checkbox_div, .form-control.form-group.captcha, .form-control.already_account {
    display: block;
    width: 100%;
}

    .form-control.already_account a {
        color: #5bbc2e;
    }

        .form-control.already_account a:hover {
            text-decoration: underline;
        }

.register_new .form-control, .login_new .form-control, .card.edit_profile .form-control {
    border: 0px;
}

.checkbox_div {
    margin-bottom: 20px;
    padding-left: 15px;
}

.form-control.btn_register {
    width: 100% !important;
}

.register_new .input_style, .login_new .input_style, .profile_form .form-control input, .profile_form .form-control select, .form_new .form-control input, .card.edit_profile .form-control input, .edit_form .form-control select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .input_style:focus, .profile_form .form-control input:focus, .form_new .form-control input:focus {
        border-color: #5bbc2e;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }

.bottom-footer {
    padding-bottom: 30px;
}

.consent_form .form-control {
    border: 0px;
}

.consent_form .checkbox_div .container_checkbox {
    font-size: 16px;
    font-weight: 600;
}

.manin3 .graphical_img {
    background-size: 30%;
}

/* The container_checkbox */
.container_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .container_checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
    background-color: #5bbc2e;
}

.container_checkbox a {
    color: #5bbc2e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
    left: 9px;
    top: 7px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.radio_box_style label {
    display: inline-block;
    margin: 5px 10px
}

/* COrona form */
.corona_form {
    padding: 50px 0 100px;
}

.graphical_img {
    background-position: right center;
    padding: 0px 0;
    background-repeat: no-repeat;
}

.corona_form .card {
    box-shadow: 0 5px 40px 0 rgba(0,0,0,.11);
    border: 0;
    border-radius: 10px;
}

.corona_form .card-body {
    padding: 40px;
}

.form_outer .form-radio {
    display: inline-block;
    margin: 0;
}

.btn.disabled, .btn:disabled {
    pointer-events: none;
}

.alert p {
    font-size: 16px;
}

    .alert p:last-of-type {
        margin-bottom: 0;
    }

.otp_screen input {
    margin: 0 5px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 12%;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}

.verify_btn button {
    width: 90%;
    margin: 10px auto;
}

.otp_screen h1 {
    margin-bottom: 20px;
}

.consent_form .container_checkbox {
    display: inline-block;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.profile_form .form-control {
    display: inline-block;
    width: 33%;
}

    .profile_form .form-control label {
        display: block;
        font-weight: 500;
    }

    .profile_form .form-control input, .form_new .form-control input {
        width: 100%;
        border-radius: 4px;
    }

.form_new {
    margin-top: 30px;
}

    .form_new .form-control {
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
        border: 1px solid #ccc;
        margin: -1px -3px;
        border-radius: 0px;
        min-height: 200px;
    }

        .form_new .form-control label {
            min-height: 50px;
        }

    .form_new .form_outer .form-radio input, .form_new .form_outer .form-radio label, .edit_form .form_outer .form-radio label, .edit_form .form_outer .form-radio input {
        display: inline-block;
        width: auto;
        margin: 0 5px 0 0;
        font-size: 14px !important;
    }

.card.dashboard {
    padding: 20px;
    text-align: center;
    margin: 40px 0;
}


    .card.dashboard h2 {
        margin-bottom: 0px;
    }

    .card.dashboard p {
        font-size: 14px;
    }

.service_list h4 {
    color: #fff;
    background: #5bbc2e;
    margin-bottom: 0px;
    padding: 10px 0;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group li.list-group-item a {
    color: #5bbc2e;
}

.card.edit_profile {
    padding: 20px;
}

    .card.edit_profile h2 {
        text-align: center;
        margin: 20px 0;
    }

.register_new {
    width: 100%;
}

.green-btn {
    background-color: #5bbc2e;
    border-color: #5bbc2e;
}

    .green-btn:hover {
        background: #76d362;
        border-color: #76d362;
    }

.green-btn-h {
    color: #5bbc2e;
    border-color: #5bbc2e;
}

    .green-btn-h:hover {
        color: #76d362;
        border-color: #76d362;
    }

.corona_form {
    padding: 19px 0 0 0;
}


.card.dashboard {
    margin: 0 0 20px 0;
}



#customTable th {
    cursor: pointer;
}

label.required:after {
    color: red;
    content: " *";
}

.form-control .padding-left-mobile {
    padding-left: 52px !important;
}

.service_single_content ul li {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    list-style: disc;
    margin-left: 20px;
}

.signup-form .form-group {
    width: 100%;
}

.modal-signup .modal-dialog {
    max-width: 500px;
}

.login_new label {
    font-size: 15px;
}

.card.dashboard h2 {
    margin-bottom: 10px;
}

.card.dashboard p {
    margin-bottom: 3px;
}

.user_dashboard {
    padding: 10px;
}

.card.dashboard {
    padding: 0;
}

    .card.dashboard a p {
        margin-left: 20px;
    }


.baby-margin {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.cd-padding-results {
    padding: 20px;
}

    .cd-padding-results label {
        color: #666666;
        font-weight: 500;
    }

    .cd-padding-results table {
        color: #666666;
        font-weight: 500;
    }

.cd-padding {
    padding: 20px;
}

    .cd-padding label {
        color: #666666;
        font-weight: 500;
    }

    .cd-padding p {
        margin-bottom: 10px;
    }


    .cd-padding .question-para {
        color: #5bbc2e;
        font-weight: 600;
        font-size: 16px !important;
    }

.form-control {
    margin-bottom: 10px;
}

.margin-button {
    margin: 30px;
}

.h3-submit {
    color: #5bbc2e;
}

.header-line {
    margin-top: 10px;
    color: #5bbc2e !important;
    font-size: 1.1em !important;
}

label {
    color: #666666;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .corona_form .card-body {
        padding: 15px;
    }

    .margin-button {
        margin: 10px;
    }

    .card.edit_profile .form-control {
        width: 100%
    }

    .register_new .form-control {
        width: 100%;
    }

    .card.dashboard a p {
        margin-left: 10px;
    }

    .login_new {
        width: 100%;
        background-color: white;
        margin: 10px auto;
    }

    .cd-padding {
        padding: 10px;
    }

    .cd-padding-results {
        padding: 10px;
    }

    .header-line {
        color: #5bbc2e !important;
        font-size: 11px !important;
    }




    .cd-padding .question-para {
        color: #5bbc2e;
        font-weight: 600;
        font-size: 14px !important;
    }
}

.classy-navbar .nav-brand {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #5bbc2e;
}

.classy-navbar h1 {
    color: #5bbc2e !important;
    font-size: 1.1em !important;
    margin: 0 !important;
    width: 100%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .welcome-content h2 {
        font-size: 42px;
    }

    .timelineBody {
        max-height: 545px;
    }

    .team-member-thumb {
        width: 150px;
    }

    .post-meta p a {
        margin-right: 15px;
    }

    .post-title h4 {
        font-size: 20px;
    }

    .single-team-member {
        padding: 20px;
    }

    .cd-intro.default-title > h2 {
        font-size: 42px;
    }

    #client-cookies {
        padding: 0 0 20px;
    }
}

/* Medium Version */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome_area {
        height: 700px !important;
    }

    .welcome_single_slider.height-900 {
        height: 700px;
    }

    .welcome-content h2 {
        font-size: 30px;
    }

    .cta-content h2 {
        font-size: 30px;
    }

    .timelineBody {
        max-height: 640px;
    }

    .price_table_text > h1 {
        font-size: 36px;
    }

    .price_table_text > p,
    .table_text_details > p {
        font-size: 13px;
    }

    .cd-intro.default-title > h2 {
        font-size: 36px;
    }

    #client-cookies {
        padding: 0 0 20px;
    }
}

/* Mobile Version */

@media only screen and (max-width: 767px) {

    .classy-navbar .nav-brand {
        margin-right: 10px;
        padding-right: 10px;
    }

    .classy-navbar h1 {
        font-size: 12px;
    }

    .welcome-content h2 {
        font-size: 24px;
    }

    .welcome-content p {
        font-size: 14px;
    }

    .dream-btn {
        min-width: 130px;
        padding: 0 20px;
        font-size: 10px;
    }

    .single_cool_fact {
        margin-bottom: 50px;
    }

    .classy-navbar {
        height: auto;
        margin-top: 10px;
    }

    .who-we-contant h4 {
        font-size: 24px;
    }

    .sonar {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    .cta-content h2 {
        font-size: 24px;
    }

    .cta-content p {
        font-size: 14px;
    }

    .timelineBox {
        margin-top: 100px;
    }

    .our-mission-area {
        height: 1000px !important;
    }

    .section-heading h2 {
        font-size: 24px;
    }

    .post-meta p a {
        margin-right: 15px;
    }

    .post-title h4 {
        font-size: 20px;
    }

    .footer-side-thumbnail {
        width: 100%;
    }

    .welcome_single_slider.height-900 {
        height: 600px;
    }

    .welcome_area.sliders {
        height: 600px !important;
    }

    .cd-intro.default-title > h2 {
        font-size: 24px;
    }

    .welcome_area.animated-headline {
        height: 600px !important;
    }

    .welcome_area.animated-headline {
        height: 600px !important;
    }

    .dream-btn.video-btn {
        min-width: 70px;
        padding: 0;
        font-size: 20px;
    }

    #scrollUp {
        bottom: 100px;
        right: 0;
    }

    .welcome-video-area {
        margin-top: 0;
    }

    .timelineBody .timeline {
        padding: 1em;
    }

        .timelineBody .timeline .timelineDate {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50px;
            flex: 0 0 50px;
            padding: 0;
        }

    .footer-copywrite-info {
        text-align: left;
    }

    .breadcumb--con {
        padding-top: 60px;
    }

    .welcome-content {
        margin-top: 130px;
    }

    .sidebar-area {
        margin-top: 100px;
    }
    /*********24/3/2020**********/
    .dark.breakpoint-on a.btn.login-btn.ml-50 {
        position: absolute;
        top: -12px;
        left: 13px;
    }

    .dark.breakpoint-on .classynav {
        position: relative;
    }

    .breakpoint-on .classynav ul li {
        padding: 10px 15px;
    }

        .breakpoint-on .classynav ul li a {
            color: #000 !important;
            font-size: 14px !important;
        }

    .dark.breakpoint-on .classy-navbar .classy-menu {
        border-right: 1px solid #e0e0e0;
        overflow-y: hidden !important;
    }

    .dark.breakpoint-on span.navbarToggler.active {
        display: none;
    }

    .dark.breakpoint-on .classynav > ul > li > a {
        color: #727272 !important;
        font-weight: 600 !important;
    }

    .breakpoint-on .classy-navbar .classy-menu {
        width: 258px !important;
    }

    .login-con {
        padding: 50px 0;
    }

    .signup-form .form-group, .title-s.form-group {
        width: 100%;
        margin: 10px 0;
    }

    .modal-signup .modal-dialog {
        max-width: 500px;
    }

    .faq-sec.abt-sec.med-articles .dream-faq-area .card-header button img {
        bottom: -11px !important;
        width: 4% !important;
    }
    /*********24/3/2020**********/
}

@media only screen and (max-width: 767px) {
    .welcome_area {
        height: 1100px !important;
    }

        .welcome_area.none {
            height: 100vh !important;
        }

    .sonar {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .welcome-content h2 {
        font-size: 30px;
    }

    .dream-btn {
        min-width: 160px;
        padding: 0 20px;
        font-size: 12px;
    }

    .single-team-member:after {
        width: 50%;
    }

    .faq-sec.abt-sec .dream-faq-area .card-header {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

        .faq-sec.abt-sec .dream-faq-area .card-header button img {
            position: absolute;
            right: 0;
            bottom: -9px;
            transform: inherit;
        }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .welcome-content h2 {
        font-size: 36px;
    }

    .dream-btn {
        min-width: 160px;
        padding: 0 20px;
        font-size: 12px;
    }

    .cd-intro.default-title > h2 {
        font-size: 30px;
    }

    .single-team-member:after {
        width: 80%;
    }
}

.kt-visible-desktop,
.kt-visible-desktop-inline-block,
.kt-visible-desktop-inline,
.kt-visible-desktop-table,
.kt-visible-desktop-table-cell,
.kt-visible-tablet,
.kt-visible-tablet-inline-block,
.kt-visible-tablet-inline,
.kt-visible-tablet-table,
.kt-visible-tablet-table-cell,
.kt-visible-tablet-and-mobile,
.kt-visible-tablet-and-mobile-inline-block,
.kt-visible-tablet-and-mobile-inline,
.kt-visible-tablet-and-mobile-table,
.kt-visible-tablet-and-mobile-table-cell,
.kt-visible-mobile,
.kt-visible-mobile-inline-block,
.kt-visible-mobile-inline,
.kt-visible-mobile-table,
.kt-visible-mobile-table-cell {
    display: none !important;
}

.table-res .table thead th {
    font-size: 14px;
}

.table-res .table tbody tr:hover {
    background-color: #f3f3f3;
}

.table-res .table tr td {
    text-align: center;
    vertical-align: middle;
}

    .table-res .table tr td label {
        margin: 0;
    }

    .table-res .table tr td:first-child {
        text-align: left;
    }

@media (min-width: 1025px) {
    .kt-visible-desktop {
        display: block !important;
    }

    .kt-visible-desktop-inline-block {
        display: inline-block !important;
    }

    .kt-visible-desktop-inline {
        display: inline !important;
    }

    .kt-visible-desktop-table {
        display: table !important;
    }

    .kt-visible-desktop-table-cell {
        display: table-cell !important;
    }

    .kt-hidden-desktop {
        display: none !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .kt-visible-tablet {
        display: block !important;
    }

    .kt-visible-tablet-inline-block {
        display: inline-block !important;
    }

    .kt-visible-tablet-inline {
        display: inline !important;
    }

    .kt-visible-tablet-table {
        display: table !important;
    }

    .kt-visible-tablet-table-cell {
        display: table-cell !important;
    }

    .kt-hidden-tablet {
        display: none !important;
    }
}

@media (max-width: 1024px) {
    .kt-visible-tablet-and-mobile {
        display: block !important;
    }

    .kt-visible-tablet-and-mobile-inline-block {
        display: inline-block !important;
    }

    .kt-visible-tablet-and-mobile-inline {
        display: inline !important;
    }

    .kt-visible-tablet-and-mobile-table {
        display: table !important;
    }

    .kt-visible-tablet-and-mobile-table-cell {
        display: table-cell !important;
    }

    .kt-hidden-tablet-and-mobile {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .table-res .table {
        border: none;
    }

        .table-res .table tr th {
            display: none;
        }

        .table-res .table tr td {
            display: block;
            border: none;
            text-align: left;
        }

        .table-res .table tr {
            border-bottom: 1px solid #dee2e6;
        }

            .table-res .table tr:last-child {
                border: none;
            }

            .table-res .table tr td:last-child {
                padding-bottom: 5px;
            }

            .table-res .table tr td:first-child {
                padding-top: 5px;
            }

    .kt-visible-mobile {
        display: block !important;
    }

    .kt-visible-mobile-inline-block {
        display: inline-block !important;
    }

    .kt-visible-mobile-inline {
        display: inline !important;
    }

    .kt-visible-mobile-table {
        display: table !important;
    }

    .kt-visible-mobile-table-cell {
        display: table-cell !important;
    }

    .kt-hidden-mobile {
        display: none !important;
    }
}

.progress {
    margin-left: 5px;
    margin-right: 5px;
}

.progress-bar {
    background-color: #5bbc2e;
}

.homepage input[type="checkbox"], .homepage input[type="radio"] {
    position: absolute;
    right: 9000px;
}

    /*Check box*/
    .homepage input[type="checkbox"] + .label-text:before {
        content: "\f096";
        font-family: "FontAwesome";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        width: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    .homepage input[type="checkbox"]:checked + .label-text:before {
        content: "\f14a";
        color: #5bbc2e;
        animation: effect 250ms ease-in;
    }

    .homepage input[type="checkbox"]:disabled + .label-text {
        color: #aaa;
    }

        .homepage input[type="checkbox"]:disabled + .label-text:before {
            content: "\f0c8";
            color: #ccc;
        }

    /*Radio box*/

    .homepage input[type="radio"] + .label-text:before {
        content: "\f10c";
        font-family: "FontAwesome";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        width: 1em;
        display: inline-block;
        margin-right: 5px;
    }

    .homepage input[type="radio"]:checked + .label-text:before {
        content: "\f192";
        color: #5bbc2e;
        animation: effect 250ms ease-in;
    }

    .homepage input[type="radio"]:disabled + .label-text {
        color: #aaa;
    }

        .homepage input[type="radio"]:disabled + .label-text:before {
            content: "\f111";
            color: #ccc;
        }

@keyframes effect {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

/*-------------------------------- Reponsive Table ---------------------------*/

.mtable {
    width: 100%;
}

.mtr:first-child {
    display: none;
}

.mrh > span {
    display: block;
    position: relative;
}

/* Insert header name before each row on mobile */
.mtd:before {
    content: attr(data-header);
    float: left;
    width: 25%;
}

/* CSS border triangle trick */
.mtable .mrh > span:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: black;
    z-index: 2;
    right: -10px;
    top: 14px;
    pointer-events: none;
}

/* Flip CSS border triangle on active */
.mtable .mrh.active > span:after {
    border-top-color: transparent;
    border-bottom-color: black;
    top: 5px;
}

/* Media Queries */

/* Media Queries */
@media screen and (min-width: 768px) {

    .mrh {
        display: none;
    }

    .mtable {
        display: table;
    }

    .mthead {
        display: table-header-group;
    }

    .mtbody {
        display: table-row-group;
    }

    .mtr,
    .mtr:first-child {
        display: table-row;
    }

    .mth,
    .mtd {
        display: table-cell;
    }

        .mtd:before {
            content: "";
        }
}

.mtable {
    border: 1px solid #dee2e6;
    /*overflow: hidden;*/
}

.mth,
.mtr .mtd,
.mrh,
.mrh.active:nth-last-child(2) {
    border-bottom: 1px solid #dee2e6;
}

    .mrh:nth-last-child(2) {
        border-bottom: none;
    }

.mtd {
    padding: 5px 15px;
}

.mtr:first-child,
.mtr:last-child {
    border-bottom: none;
}

    .mtr:last-child .mtd:last-child {
        border-bottom: none;
    }

@media screen and (min-width: 768px) {
    .alternate-highlight {
        background-color: #f3f3f3;
    }

    .mth,
    .mtd,
    .mtr,
    .mtr .mtd:last-child {
        border-bottom: 1px solid #dee2e6;
    }

    .mth,
    .mtd {
        padding: 5px;
    }

    .mth {
        border-right: 1px solid #dee2e6;
        font-weight: bold;
        font-size: 14px;
        color: #666666;
    }

    .mtd {
        border-right: 1px solid #dee2e6;
        text-align: center;
        vertical-align: middle;
    }

        .mth:last-child,
        .mtd:last-child {
            border-right: none;
        }

    /* Unfortunately we cannot just use :nth-child(odd/even) since the
	   .rh elements are interspersed in there. Until CSS 4 I don't
	   think there will be a way to style alterating rows for this 
	   without using JavaScript or whatever builds the table to add
	   a special class. */


    /* Reset Mobile Styles */
    .mtr:last-child .mtd:first-child {
        border-top: none;
    }

    .mtr:last-child .mtd {
        border-bottom: none;
    }

    .mtr .mtd:nth-child(even) {
        background: none;
    }

    .mtrh {
        text-align: left;
        font-weight: normal;
    }
}

.mtd, .label-text {
    cursor: pointer;
}

    .mtd label {
        margin: 0;
    }

@media only screen and (min-width: 991px) {
    .classynav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }

        .classynav a.btn.login-btn.ml-50 {
            margin-left: 20px !important;
            white-space: nowrap !important;
        }

    .nav-link.dropdown-toggle {
        min-width: 80px;
    }
}

@media only screen and (max-width: 991px) {
    .nav-item.dropdown .nav-link.dropdown-toggle {
        display: none;
    }

    .nav-item.dropdown .dropdown-menu {
        position: relative !important;
        top: unset !important;
        left: unset !important;
        z-index: unset !important;
        display: unset !important;
        float: unset !important;
        min-width: unset !important;
        background-color: unset !important;
        background-clip: unset !important;
        border: 0 !important;
        border-radius: unset !important;
    }

        .nav-item.dropdown .dropdown-menu a {
            border-top: 1px solid #e0e0e0 !important;
            padding: 5px 15px !important;
            min-height: 50px !important;
            color: #727272 !important;
            font-weight: 600 !important;
            font-size: 14px !important;
        }

    .classynav a.btn.login-btn.ml-50 {
        position: absolute !important;
        top: 20px !important;
        left: 10px !important;
        margin-left: 0 !important;
    }
}

.mainHeading {
    color: #5bbc2e !important;
    max-width: 75%;
    margin: auto;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .mainHeading {
        max-width: 100%;
        font-size: 1.1rem;
    }

    .mtrh {
        display: none;
    }

    .mtd label {
        width: 100%;
    }

    .mtable {
        border: 0;
    }

    .mth,
    .mtr .mtd,
    .mrh,
    .mrh.active:nth-last-child(2) {
        border-bottom: 0;
    }

    .mrh {
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #dee2e6;
        padding-right: 10px;
    }

        .mrh:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }

    .mtd {
        padding: 5px 0;
    }
}

.selectedOption {
    font-size: 13px;
}

#widget {
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    /* Firefox 1-3.6 */
    -moz-border-radius: 4px 4px 0 0;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 4px 4px 0 0;
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    font-size: 15px;
    line-height: 42px;
    position: fixed;
    margin: 0px;
    border: none;
    display: block;
    opacity: 1;
    z-index: 9999;
    right: 350px;
    bottom: 0px;
    height: 43px;
    width: 135px;
}

    #widget div, #widget li {
        display: block;
    }

    #widget #LanguageS {
        display: none;
    }

    #widget.active #LanguageS {
        display: block;
    }

    #widget.active {
        height: auto;
    }

    #widget li {
        text-align: center;
        padding: 0 26px;
        min-width: 40px;
        border-bottom: 1px solid #262626;
        position: relative;
        white-space: nowrap;
        color: white;
        font-size: 100%;
        line-height: 42px;
        font-weight: 600;
        cursor: pointer;
        background: #5bbc2e;
        opacity: 0.95;
    }

        #widget li:hover {
            background: #076d37;
            opacity: 1;
        }

@media screen and (max-width: 768px) {
    #widget {
        position: fixed;
        overflow: hidden;
        -webkit-border-radius: 3px 3px 0 0;
        /* Firefox 1-3.6 */
        -moz-border-radius: 3px 3px 0 0;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 3px 3px 0 0;
        font-size: 12px;
        line-height: 33px;
        right: 20px;
        bottom: 0px;
        height: 35px;
        width: 100px;
    }

        #widget li {
            padding: 0 18px;
            line-height: 33px;
        }
}
