﻿@using VaccineSurvey.Web.Resources
@using VaccineSurvey.Model
@{
    ViewBag.Title = Resource.SiteTitle;
    string lang = new LanguageMangager().GetCurrentLanguage().Split('-')[0];
    var pageData = (PageData)ViewBag.PageData;
}
<div class="homepage">

    <div class="row text-center">
        <div class="col-12 mb-20"><img class="home-image-mobile" src="@Resource.Homeurl"></div>
        <div class="col-12 mb-20">@Html.Raw(LanguageMangager.GetPropValue(pageData, "PageHTML"))</div>
        @*<div class="col-12 mb-20">
            <div class="corona_form_main">
                <div class="form-group">
                    <h6><strong>@Resource.Are_you_18_years_of_age_or_older</strong></h6>
                    <div class="form_outer">
                        <div class="form-radio">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="Age" id="Age1" value="1">
                                <span class="label-text">@Resource.Yes</span>
                            </label>
                        </div>
                        <div class="form-radio ml-3">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="Age" id="Age2" value="2">
                                <span class="label-text">@Resource.No</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" id="pregnantDiv" style="display: none">
                    <hr>
                    <h6><strong>@Resource.Are_you_currently_pregnant</strong></h6>
                    <div class="form_outer">
                        <div class="form-radio">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="Pregnant" id="pregnant1" value="1">
                                <span class="label-text">@Resource.Yes</span>
                            </label>
                        </div>
                        <div class="form-radio ml-3">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="Pregnant" id="pregnant2" value="2">
                                <span class="label-text">@Resource.No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="GaveBirthDiv" style="display: none">
                    <hr>
                    <h6><strong>@Resource.Did_you_give_birth_within_the_last_6_months</strong></h6>
                    <div class="form_outer">
                        <div class="form-radio">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="GaveBirth" id="GaveBirth1" value="1">
                                <span class="label-text">@Resource.Yes</span>
                            </label>
                        </div>
                        <div class="form-radio ml-3">
                            <label style="margin-bottom: 0px;">
                                <input type="radio" name="GaveBirth" id="GaveBirth2" value="2">
                                <span class="label-text">@Resource.No</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" style="display: none;" id="notEligible">
                    <h4 class="alert-heading">@Resource.We_are_sorry</h4>
                    <p>@Resource.notEligible_Message</p>
                </div>
            </div>
        </div>*@
    </div>
</div>
@section scripts
{
    <script> 
        function ThankYou() { window.onbeforeunload = null; window.location.href = "/@lang/Home/Information"; }
        (function ($) {
            localStorage.removeItem("Pregnant");
            $('input[name="Age"]').on('change', function (evt) {
                evt.preventDefault();
                thisValue = $(this).val();
                $("[name=Pregnant]").prop('checked', false);
                $("[name=GaveBirth]").prop('checked', false);
                if (thisValue === "1") {
                    $('#pregnantDiv').show();
                    $('#notEligible').hide();
                    $('#pregnantDiv').addClass('animated').addClass('fadeInDown');
                    $('html, body').animate({
                        scrollTop: $("#pregnantDiv").offset().top
                    }, 500);
                } else {
                    $("#agreeDiv").hide();
                    $('#pregnantDiv').hide();
                    $('#pregnantDiv').addClass('animated').addClass('fadeInUp');
                    $('#notEligible').show();

                    $('#GaveBirthDiv').hide();
                    $('#GaveBirthDiv').addClass('animated').addClass('fadeInUp');

                    $('html, body').animate({
                        scrollTop: $("#notEligible").offset().top
                    }, 500);
                }
            });

            $('input[name="Pregnant"]').on('change', function (evt) {
                evt.preventDefault();
                thisValue = $(this).val();
                $("[name=GaveBirth]").prop('checked', false);
                localStorage.setItem("Pregnant", thisValue);
                if (thisValue === "2") {
                    $("#agreeDiv").hide();
                    $('#GaveBirthDiv').show();
                    $('#notEligible').hide();
                    $('#GaveBirthDiv').addClass('animated').addClass('fadeInDown');

                    $('html, body').animate({
                        scrollTop: $("#GaveBirthDiv").offset().top
                    }, 500);

                } else {
                    $('#GaveBirthDiv').hide();
                    $('#GaveBirthDiv').addClass('animated').addClass('fadeInUp');

                    $('#notEligible').hide();
                    ThankYou();
                }
            });

            $('input[name="GaveBirth"]').on('change', function (evt) {
                evt.preventDefault();
                thisValue = $(this).val();
                if (thisValue === "1") {
                    $('#notEligible').hide();
                    ThankYou();
                } else {
                    $("#agreeDiv").hide();
                    $('#notEligible').show();

                    $('html, body').animate({
                        scrollTop: $("#notEligible").offset().top
                    }, 500);
                }
            });
        })(jQuery); 
    </script>
}