﻿@using VaccineSurvey.Web.Resources
@using VaccineSurvey.Model
@{
    ViewBag.Title = Resource.SiteTitle;
    string lang = new LanguageMangager().GetCurrentLanguage().Split('-')[0];
    var pageData = (PageData)ViewBag.PageData;
}
<div class="card dashboard text-left p-3 homepage">
    <div class="row">
        <div class="col-12">@Html.Raw(LanguageMangager.GetPropValue(pageData, "PageHTML"))</div>
        <div class="col-12 mb-20">
            <div style="margin-top: 10px;">
                <label style="margin-bottom: 0px;">
                    <input type="checkbox" name="accept" id="accept" onchange="ThankYou()" />
                    <span class="label-text" style="color:#5abc2f;">@Resource.AcceptCheckBox</span>
                </label>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function ThankYou() { window.onbeforeunload = null; window.location.href = "/@lang/Survey/"; }
    </script>
}