﻿@model VaccineSurvey.Model.ApplicationRole

@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input,
    select,
    textarea {
        max-width: 400px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-success" role="alert">@TempData["Success"]</div></div></div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-danger" role="alert">@TempData["Error"]</div></div></div>
            }
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Language, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-floppy-o"></span> Save</button>
                            <a title="Cancel" href="@Url.Action("Index")" class="btn btn-sm btn-dark">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
