﻿@model IEnumerable<VaccineSurvey.Model.ApplicationRole>
@{
    ViewBag.Title = "Role Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="edit_form"><div class="row"><div class="col-md-6 text-left m-2"><a href="@Url.Action("Create")" class="btn btn-sm btn-success"><span class="fa fa-plus"></span> Add Role</a></div></div></div>
    </div>
</div>
<div class="card dashboard">
    <div class="service_list">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="customTable">
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Language</th>
                        <th class="text-center">Users</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.Name))
                    {
                        <tr>
                            <td class="text-center">@counter</td>
                            <td class="text-left">@item.Name</td>
                            <td class="text-left">@item.Language</td>
                            <td class="text-center">@item.Users.Count()</td>
                            <td class="text-right">
                                @if (item.Name.ToLower() != "admin")
                                {
                                    <a title="Edit" href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span></a>
                                    <a title="Delete" href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                                }
                            </td>
                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>