﻿@using VaccineSurvey.Model;
@model ReplaceText
@{
    ViewBag.Title = "Find and Replace Option Text";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Counter = 1;
}

<style>
    input,
    select,
    textarea {
        max-width: 400px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-success" role="alert">@TempData["Success"]</div></div></div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-danger" role="alert">@TempData["Error"]</div></div></div>
            }
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.FindText, htmlAttributes: new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.FindText, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReplaceWith, htmlAttributes: new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.ReplaceWith, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-recycle"></span> Replace</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="card dashboard">
        <div class="service_list">
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="customTable">
                    <thead>
                        <tr>
                            <th class="text-center">No.</th>
                            <th class="text-left">Find Text</th>
                            <th class="text-left">Replace With</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Data)
                        {
                        <tr>
                            <td class="text-center">@Counter</td>
                            <td class="text-left">@item.FindText</td>
                            <td class="text-left">@item.ReplaceWith</td>
                            <td class="text-left">@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-left">@item.CreatedDate.ToString("hh:mm tt")</td>
                        </tr>
                            Counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@