﻿@using VaccineSurvey.Model;
@model List<Category>
@{
    ViewBag.Title = "Categories";
    var Language = UserRoleDetails.GetLanguage();
    var Questions = (List<Question>)ViewBag.Questions;
}
<div class="card dashboard">
    <div class="service_list">
        <h4>
            @ViewBag.Title
            @if (Language == "admin")
            {
                <a href="@Url.Action("Create")" class="btn btn-sm btn-dark pull-right" style="margin-right: 10px;"><span class="fa fa-plus"></span> Add Category</a>
            }
        </h4>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm" id="customTable">
            <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th class="text-center">Sequence</th>
                    <th class="text-left">Visible</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">@Html.Raw(UserRoleDetails.GetPropValue(item, "Name", Language))</td>
                        <td class="text-center">@item.Sequence</td>
                        <td class="text-left">
                            @if (item.IsVisible)
                            {
                                <span>Visible</span>
                            }
                            else
                            {
                                <span>Not Visible</span>
                            }
                        </td>
                        <td class="text-right">
                            @if (Language == "admin")
                            {
                                <a title="Add Question" href="@Url.Action("Create", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-plus"></span></a>
                                <a title="View All Questions" href="@Url.Action("Index", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-info"></span></a>
                            }
                            else
                            {
                                if (Questions.Where(x => x.CategoryId == item.Id).Count() > 0)
                                {
                                    <a title="View All Questions" href="@Url.Action("Index", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-info"></span></a>
                                }
                            }
                            <a title="Edit Category" href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span></a>
                            @if (Language == "admin")
                            {
                                <a title="Delete Category" href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 