﻿@using VaccineSurvey.Web.Resources
@{
    var Language = UserRoleDetails.GetLanguage();
    var fulllang = new LanguageMangager().GetCurrentLanguage();
    var dir = LanguageMangager.GetLanguage(fulllang).LanguageDirection;
    //if (dir != "rtl") { dir = ""; }

    string lang = fulllang.Split('-')[0];

    ViewBag.meta_og_image = Html.Raw(Resource.meta_og_image);
    ViewBag.meta_title = Html.Raw(Resource.meta_title);
    ViewBag.meta_site = Html.Raw(Resource.meta_site);
    ViewBag.meta_description = Html.Raw(Resource.meta_description);
    ViewBag.meta_keywords = Html.Raw(Resource.meta_keywords);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="@lang" xml:lang="@lang">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="content-language" content="@lang" />

    <meta name="" content="HTML,CSS,XML,JavaScript" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="twitter:image" content="@ViewBag.meta_og_image" />
    <title>@Html.Raw(ViewBag.Title)</title>

    <meta name="title" content="@ViewBag.meta_title" />
    <meta name="keywords" content="@ViewBag.meta_keywords" />
    <meta name="description" content="@ViewBag.meta_description" />

    <meta property="og:title" content="@ViewBag.meta_title" />
    <meta property="og:description" content="@ViewBag.meta_description" />
    <meta property="og:url" content="https://survey.pregistry.com/@lang/" />
    <meta property="og:image:secure_url" content="@ViewBag.meta_og_image" />
    <meta property="og:image" content="@ViewBag.meta_og_image" />

    <link rel="canonical" href="https://survey.pregistry.com/@lang/" />

    <meta name="twitter:url" content="https://survey.pregistry.com/@lang/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ViewBag.meta_site" />
    <meta name="twitter:title" content="@ViewBag.meta_title" />
    <meta name="twitter:description" content="@ViewBag.meta_description" />

    <link rel="icon" href="~/fav/favicon.ico" />
    <link href="~/Content/style.css?v=3" rel="stylesheet" />
    <link href="~/Content/custom.css?v=3" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=G-JTSSEBCM06" async="async"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-V7JZ2H5RXN');
    </script>
    <!-- Facebpooku Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '779541489501324');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=779541489501324&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <link rel="alternate" hreflang="x-default" href="https://survey.pregistry.com" />
    @foreach (var i in LanguageMangager.AvailableLanguages)
    {
        <link rel="alternate" hreflang="@i.LanguageCultureNameS" href="https://survey.pregistry.com/@i.LanguageCultureNameS" />

    }
    @if (dir == "rtl")
    {
        <style>
            .classy-navbar .nav-brand {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
                margin-left: 20px;
                padding-left: 20px;
                border-left: 2px solid #5bbc2e;
            }
            .classy-navbar .nav-brand2 {
                margin-left: 0;
                padding-left: 0;
                border-left: 0;
                margin-right: 20px;
                padding-right: 20px;
                border-right: 2px solid #5bbc2e;
            }


            div.text-right, .progress-bar {
                text-align: left !important;
            }

            div.text-left, .mtrh {
                text-align: right !important;
            }

            .progress-bar {
                padding-left: 5px;
            }

            .mtable .mrh > span:after {
                right: unset !important;
                left: -17px;
            }

            @@media screen and (min-width: 768px) {
                .mth:last-child, .mtd:last-child {
                    border-right: 1px solid #dee2e6;
                }

                .mth:first-child, .mtd:first-child {
                    border-right: none;
                }
            }


            @@media only screen and (max-width: 767px) {
                .classy-navbar .nav-brand {
                    margin-right: 0;
                    padding-right: 0;
                    margin-left: 10px;
                    padding-left: 10px;
                }

                .classy-navbar .nav-brand2 {
                    margin-left: 0;
                    padding-left: 0;
                    margin-right: 10px;
                    padding-right: 10px;
                }

                .mrh {
                    padding-right: 0 !important;
                    padding-left: 10px;
                }
            }
        </style>
    }
    <style>
        .classynav #nav a {
            border-top: 1px solid #e0e0e0 !important;
        }

            .classynav #nav a:first-child {
                border-top: 0 solid #e0e0e0 !important;
            }

        .logostyle {
            width: 100%;
            max-width: 120px;
        }

        @@media only screen and (min-width: 991px) {
            .logostyle {
                width: 100%;
                max-width: 180px;
                margin-top: 10px;
            }

            .width-lg-100 {
                width: 50% !important; 
            }

            .nav-brand {
                border-right: 2px solid #5bbc2e;
            }
            .nav-brand2 {
                border-left: 2px solid #5bbc2e;
            }
        }
    </style>
</head>
<body>
    <div id="preloader"><div class="preload-content"><div id="dream-load"></div></div></div>
    <header class="header-area">
        <div class="classy-nav-container light">
            <div class="container" dir="@dir">
                <div class="row" style="margin-top: 10px;">
                    <div class="nav-brand col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6"><img src="@Resource.site_logo" class="logostyle" style="" alt="logo" /></div>
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 col-12 order-lg-2 order-md-2 order-sm-3 order-3"><h3 class="header-line">@Resource.SiteTitle</h3></div>
                    <div class="nav-brand2 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6 order-lg-3 order-md-3 order-sm-2 order-2"><img src="@Resource.site_logo2" alt="logo" /></div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="classy-navbar light justify-content-between clearfix">
                        <div style="width: 50%;">@UserRoleDetails.GetUserName()</div>
                        <div class="classy-navbar-toggler demo" style="width: 50%;text-align: right;"><span class="navbarToggler"><span></span><span></span><span></span></span></div>
                        <div class="classy-menu width-lg-100">
                            <div class="classycloseIcon"><div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div></div>
                            <div class="classynav float-lg-right">
                                <ul id="nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                                        <div class="dropdown-menu">
                                            @if (Language == "admin")
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                                                <a class="dropdown-item" href="@Url.Action("Country", "Dashboard")">Frequency By Country</a>
                                                <a class="dropdown-item" href="@Url.Action("CountryFeedback", "Dashboard")">FEEDBACK BY PARTICIPANT</a>
                                                <a class="dropdown-item" href="@Url.Action("New", "Dashboard")">New Dashboard</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Categories</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Questions")">Questions</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Home")">Survey</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "Users")">Users</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "RoleManagement")">Role Management</a>
                                                <a class="dropdown-item" href="@Url.Action("Index", "ReplaceText")">Replace Text</a>
                                                <a class="dropdown-item" href="@Url.Action("EditProfile", "Users")">Edit Profile</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Categories</a>
                                            
                                                <a class="dropdown-item" href="@Url.Action("Questions", "ReplaceText")">Replace Questions text</a>
                                                <a class="dropdown-item" href="@Url.Action("Options", "ReplaceText")">Replace Options Text</a>
                                                <a class="dropdown-item" href="@Url.Action("EditProfile", "Users")">Edit Profile</a>
                                            }
                                        </div>
                                    </li>
                                </ul>
                                @Html.Partial("_LoginPartial")
                            </div>
                        </div>
                    </nav>
                }
            </div>
        </div>
    </header>
    <section class="corona_form"><div class="container" dir="@dir">@RenderBody()</div></section>
    <footer><div class="container text-center"><p>©@DateTime.Now.Year @Resource.FooterText</p></div></footer>
    <div id="widget">
        <div id="LanguageS">
            <ul>
                @foreach (var i in LanguageMangager.AvailableLanguages)
                {
                    if (i.LanguageCultureNameS != lang)
                    {
                        <li data-locale="@i.LanguageCultureNameS" title="@i.LanguageFullName">@i.LanguageFullName</li>
                    }
                }
            </ul>
        </div>
        <div id="current">
            <ul>
                @{
                    var l = LanguageMangager.AvailableLanguages.Where(x => x.LanguageCultureNameS == lang).FirstOrDefault();
                    if (l != null)
                    {
                        <li data-locale="@l.LanguageCultureNameS" title="@l.LanguageFullName">@l.LanguageFullName</li>
                    }
                    else
                    {
                        <li data-locale="en" title="English">English</li>
                    }
                }
            </ul>
        </div>
    </div>
    <input type="hidden" name="LeavePageMessage" id="LeavePageMessage" value="@Resource.LeavePageMessage.Replace("'", @"\'")" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins.js?v=7"></script>
    @RenderSection("scripts", required: false)
</body>
</html>