﻿@model VaccineSurvey.ViewModel.PagingInfo
@if (Model != null)
{
    if (Model.EndPage > 1)
    {
        <div class="kt-pagination kt-pagination--brand kt-margin-t-15 kt-margin-b-10">
            <div class="kt-pagination__toolbar">
                <span class="pagination__desc">
                    Page&nbsp;@(Model.TotalPages < Model.CurrentPage ? 0 : Model.CurrentPage) of @Model.TotalPages - Total @Model.TotalItems results
                </span>
            </div>
            <ul class="kt-pagination__links">
                @if (Model.CurrentPage > 1)
                {
                    <li class="kt-pagination__link--first">
                        <a href="#" onclick="ClickLoadData(1)"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                    </li>
                    <li class="kt-pagination__link--next">
                        <a href="#" onclick="ClickLoadData(@(Model.CurrentPage - 1))"><i class="fa fa-angle-left kt-font-brand"></i></a>
                    </li>
                }

                @for (var item = Model.StartPage; item <= Model.EndPage; item++)
                {
                    <li class="@(item == Model.CurrentPage ? "kt-pagination__link--active" : "")">
                        <a href="#" onclick="ClickLoadData(@item)">@item</a>
                    </li>
                }

                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="kt-pagination__link--prev">
                        <a href="#" onclick="ClickLoadData(@(Model.CurrentPage + 1))"><i class="fa fa-angle-right kt-font-brand"></i></a>
                    </li>
                    <li class="kt-pagination__link--last">
                        <a href="#" onclick="ClickLoadData(@Model.TotalPages)"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                    </li>
                }
            </ul>
            <div class="kt-pagination__toolbar">
                <select id="PageSize" name="PageSize" class="form-control kt-font-brand" style="width: 60px;">
                    @if (Model.PageSize == 20)
                    {
                        <option value="20" selected>20</option>
                    }
                    else
                    {
                        <option value="20">20</option>
                    }
                    @if (Model.PageSize == 50)
                    {
                        <option value="50" selected>50</option>
                    }
                    else
                    {
                        <option value="50">50</option>
                    }
                    @if (Model.PageSize == 100)
                    {
                        <option value="100" selected>100</option>
                    }
                    else
                    {
                        <option value="100">100</option>
                    }
                </select>
            </div>
        </div>
    }
}
<script>
     $(document).on('change', '#PageSize', function () { ClickLoadData(1); }); 
</script>