﻿@model VaccineSurvey.Model.QuestionOption
@{
    ViewBag.Title = "Delete Option";
}
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    </div>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    </div>
                </div>
            }
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.QuestionId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ZH, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ZH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_FR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_FR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_IT, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_IT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_PT, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_PT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_UR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_UR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_HI, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_HI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_MR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_MR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sequence, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsVisible, new { @disabled = "disabled" })
                                @Html.LabelFor(m => m.IsVisible)
                            </div>
                        </div>
                        <div class="form-group col-md-12 text-left">
                            <div class="text-center">
                                <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-trash-o"></span> Delete</button>
                                <a href="@Url.Action("Details", "Questions", new { id = Model.QuestionId })" class="btn btn-dark btn-sm">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
