﻿
<link href="~/css/404.css" rel="stylesheet" />

<div class="container-fluid pageError">
    <span class="numer">4</span>
    <div class="circle">
        <div class="drops"></div>
        <div class="drops"></div>
        <div class="hand"></div>
        <div class="hand rgt"></div>
        <div class="holder">
            <div class="bob">
                <div class="nose"></div>
                <div class="face">
                    <div class="mouth">
                        <div class="tongue"></div>
                    </div>
                </div>
                <div class="ear"></div>
                <div class="ear rgt"></div>
                <div class="neck"></div>
            </div>
        </div>
    </div><span class="numer">4</span>
</div>