﻿@using VaccineSurvey.Model;
@model Question
@{
    ViewBag.Title = "Child Questions";
    var FormInputs = (List<FormInput>)ViewBag.FormInputs;

    var Language = UserRoleDetails.GetLanguage();
    var Role = UserRoleDetails.GetRole();
    var QuestionOption = (List<QuestionOption>)ViewBag.Options;
}
<style>
    input,
    select,
    textarea {
        max-width: 800px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-success" role="alert">@TempData["Success"]</div></div></div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-danger" role="alert">@TempData["Error"]</div></div></div>
            }
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.ParentId)
                        if (Language == "admin")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ZH, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ZH, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_FR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_FR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_IT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_IT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_PT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_PT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_UR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_UR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_HI, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_HI, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_MR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_MR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sequence, new { @class = "font-weight-bold required" })
                                @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.IsVisible)
                                    @Html.LabelFor(m => m.IsVisible)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "font-weight-bold required" })
                                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.SelectCategoryId, "(None)", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FormInputId, new { @class = "font-weight-bold required" })
                                @Html.DropDownList("FormInputId", (IEnumerable<SelectListItem>)ViewBag.SelectFormInputId, "(None)", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.FormInputId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsRequired)
                                @Html.LabelFor(m => m.IsRequired)
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="font-weight-bold">Category</label>
                                <input class="form-control disabled text-box single-line" disabled="disabled" type="text" value="@Model.Name">
                                @Html.HiddenFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="Name_@Language.ToUpper()">Category @Role</label>
                                <input class="form-control text-box single-line" id="Name_@Language.ToUpper()" name="Name_@Language.ToUpper()" type="text" value="@Html.Raw(UserRoleDetails.GetPropValue(Model, "Name", Language))">
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-floppy-o"></span> Save</button>
                            <a title="Cancel" href="@Url.Action("Index")" class="btn btn-sm btn-dark">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Children.Count > 0)
{
    <div class="card dashboard">
        <div class="service_list">
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="customTable">
                    <thead>
                        <tr>
                            <th class="text-left">Question</th>
                            <th class="text-center">Sequence</th>
                            <th class="text-left">Required</th>
                            <th class="text-left">Visible</th>
                            <th class="text-left">Input Type</th>
                            <th class="text-right" width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Children)
                        {
                            var inputType = FormInputs.Where(x => x.Id == item.FormInputId).FirstOrDefault().FormInputName;
                            <tr>
                                <td class="text-left">@Html.Raw(UserRoleDetails.GetPropValue(item, "Name", Language))</td>
                                <td class="text-center">@item.Sequence</td>
                                <td class="text-left">
                                    @if (item.IsRequired)
                                    {
                                        <span>Required</span>
                                    }
                                    else
                                    {
                                        <span>Not Required</span>
                                    }
                                </td>
                                <td class="text-left">
                                    @if (item.IsVisible)
                                    {
                                        <span>Visible</span>
                                    }
                                    else
                                    {
                                        <span>Not Visible</span>
                                    }
                                </td>
                                <td class="text-left">@inputType</td>
                                <td class="text-right">
                                    @if (Language == "admin")
                                    {
                                        <a title="Options" target="_blank" href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-sm"><span class="fa fa-list-ul"></span></a>
                                    }
                                    else
                                    {
                                        if (QuestionOption.Where(x => x.QuestionId == item.Id).Count() > 0)
                                        {
                                            <a title="Options" target="_blank" href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-sm"><span class="fa fa-list-ul"></span></a>
                                        }
                                    }
                                    <a title="Edit Question" href="@Url.Action("Edit", "LoopQuestions", new { id = item.Id, parentQuestionId = Model.Id })" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
                                    @if (Language == "admin")
                                    {
                                        <a title="Delete Question" href="@Url.Action("Delete", "LoopQuestions", new { id = item.Id, parentQuestionId = Model.Id })" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        (function ($) { window.setTimeout(function () { $(".alert").fadeTo(500, 0).slideUp(500, function () { $(this).remove(); }); }, 2000); })(jQuery);
    </script>
}