﻿@model VaccineSurvey.Model.Question
@{
    ViewBag.Title = "Delete Questions";
}
<style>
    input,
    select,
    textarea {
        max-width: 800px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.ParentId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ZH, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ZH, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_FR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_FR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_IT, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_IT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_PT, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_PT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_UR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_UR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_HI, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_HI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name_MR, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Name_MR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Sequence, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.IsVisible, new { @disabled = "disabled" })
                                @Html.LabelFor(m => m.IsVisible)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryId, new { @class = "font-weight-bold required" })
                            @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.SelectCategoryId, "(None)", new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FormInputId, new { @class = "font-weight-bold required" })
                            @Html.DropDownList("FormInputId", (IEnumerable<SelectListItem>)ViewBag.SelectFormInputId, "(None)", new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.FormInputId, "", new { @class = "text-danger" })
                        </div> 
                        <div class="form-group">
                            @Html.CheckBoxFor(m => m.IsRequired)
                            @Html.LabelFor(m => m.IsRequired)
                        </div>
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-trash-o"></span> Delete</button>
                            <a title="Cancel" href="@Url.Action("Index")" class="btn btn-sm btn-dark">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div> 