﻿@model VaccineSurvey.Model.QuestionOption
@{
    var FormInputs = (List<VaccineSurvey.Model.FormInput>)ViewBag.FormInputs;
    var DataModel = (VaccineSurvey.ViewModel.QuestionDetailViewModel)ViewBag.DataModel;
    ViewBag.Title = DataModel.Question.Name;

    var Language = UserRoleDetails.GetLanguage();
    var Role = UserRoleDetails.GetRole();
}
<style>
    input,
    select,
    textarea {
        max-width: 800px;
    }
</style>

<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm("AddOption", "Questions", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.QuestionId)
                        if (Language == "admin")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ZH, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ZH, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_FR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_FR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_IT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_IT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_PT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_PT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_UR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_UR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_HI, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_HI, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_MR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_MR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sequence, new { @class = "font-weight-bold required" })
                                @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                            </div> 
                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.IsVisible)
                                    @Html.LabelFor(m => m.IsVisible)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="font-weight-bold">Category</label>
                                <input class="form-control disabled text-box single-line" disabled="disabled" type="text" value="@Model.Name">
                                @Html.HiddenFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="Name_@Language.ToUpper()">Category @Role</label>
                                <input class="form-control text-box single-line" id="Name_@Language.ToUpper()" name="Name_@Language.ToUpper()" type="text" value="@Html.Raw(UserRoleDetails.GetPropValue(Model, "Name", Language))">
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-floppy-o"></span> Save</button>
                            <a title="Cancel" href="@Url.Action("Index")" class="btn btn-sm btn-dark">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (DataModel.Options.Count > 0)
{
    <div class="card dashboard">
        <div class="service_list">
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="customTable">
                    <thead>
                        <tr>
                            <th class="text-left">Option</th>
                            <th class="text-center">Sequence</th>
                            <th class="text-left">Visible</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in DataModel.Options)
                        {
                            <tr>
                                <td class="text-left">@Html.Raw(UserRoleDetails.GetPropValue(item, "Name", Language))</td>
                                <td class="text-center">@item.Sequence</td>
                                <td class="text-left">
                                    @if (item.IsVisible)
                                    {
                                        <span>Visible</span>
                                    }
                                    else
                                    {
                                        <span>Not Visible</span>
                                    }
                                </td>
                                <td class="text-right">
                                    <a title="Edit Option" href="@Url.Action("Edit", "Options", new { id = item.Id, parentQuestionId = DataModel.Question.Id })" class="btn btn-primary btn btn-sm"><span class="fa fa-pencil"></span></a>
                                    @if (Language == "admin")
                                    {
                                        <button title="Delete Option" onclick="deleteItem(@item.Id, @DataModel.Question.Id)" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@if (DataModel.ChildQuestions.Count > 0)
{
    <div class="card dashboard">
        <div class="service_list">
            <div class="table-responsive">
                <table class="table table-hover table-sm" id="customTable">
                    <thead>
                        <tr>
                            <th class="text-left">Question</th>
                            <th class="text-center">Sequence</th>
                            <th class="text-left">Required</th>
                            <th class="text-left">Visible</th>
                            <th class="text-left">Input Type</th>
                            <th class="text-right" width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in DataModel.ChildQuestions)
                        {
                            var inputType = FormInputs.Where(x => x.Id == item.FormInputId).FirstOrDefault().FormInputName;
                            <tr>
                                <td class="text-left">@Html.Raw(UserRoleDetails.GetPropValue(item, "Name", Language))</td>
                                <td class="text-center">@item.Sequence</td>
                                <td class="text-left">
                                    @if (item.IsRequired)
                                    {
                                        <span>Required</span>
                                    }
                                    else
                                    {
                                        <span>Not Required</span>
                                    }
                                </td>
                                <td class="text-left">
                                    @if (item.IsVisible)
                                    {
                                        <span>Visible</span>
                                    }
                                    else
                                    {
                                        <span>Not Visible</span>
                                    }
                                </td>
                                <td class="text-left">@inputType</td>
                                <td class="text-right">
                                    <a title="Options" href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-sm"><span class="fa fa-list-ul"></span></a>
                                    <a title="Edit Question" href="@Url.Action("Edit", new { id = item.Id, parentQuestionId = DataModel.Question.Id })" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
                                    @if (Language == "admin")
                                    {
                                        <a title="Delete Question" href="@Url.Action("Delete", new { id = item.Id, parentQuestionId = DataModel.Question.Id })" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        function gettoken() {
                var token = '@Html.AntiForgeryToken()';
                token = $(token).val();
                return token;
        }

        function deleteItem(Id, QuestionId) {
                $.ajax({
                    type: "POST",
                    url: "/Questions/DeleteOption",
                    data: {
                        __RequestVerificationToken: gettoken(),
                        id: Id
                    },
                    success: function (resp) {
                        if (resp.success) {
                            window.location.reload(true);
                        }
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                });
        }

    </script>
}
