﻿@using VaccineSurvey.Model;
@model IEnumerable<Question>
@{
    ViewBag.Title = "Questions Backend";
    var FormInputs = (List<FormInput>)ViewBag.FormInputs;
    var Language = UserRoleDetails.GetLanguage();
    var QuestionOption = (List<QuestionOption>)ViewBag.Options;
    var ChildQuestions = (List<Question>)ViewBag.ChildQuestions;
}
<div class="card dashboard">
    <div class="service_list">
        <h4>
            @ViewBag.Title
            @if (Language == "admin")
            {
                <a href="@Url.Action("Create", "Questions")" class="btn btn-sm btn-dark pull-right" style="margin-right: 10px;"><span class="fa fa-plus"></span> Add Questions</a>
            }
        </h4>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-sm" id="customTable">
            <thead>
                <tr>
                    <th class="text-left">Question</th>
                    <th class="text-center">Sequence</th>
                    <th class="text-left">Required</th>
                    <th class="text-left">Visible</th>
                    <th class="text-left">Input Type</th>
                    <th class="text-right" width="20%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var inputType = FormInputs.Where(x => x.Id == item.FormInputId).FirstOrDefault().FormInputName;
                    <tr>
                        <td class="text-left">@Html.Raw(UserRoleDetails.GetPropValue(item, "Name", Language))</td>
                        <td class="text-center">@item.Sequence</td>
                        <td class="text-left">
                            @if (item.IsRequired)
                            {
                                <span>Required</span>
                            }
                            else
                            {
                                <span>Not Required</span>
                            }
                        </td>
                        <td class="text-left">
                            @if (item.IsVisible)
                            {
                                <span>Visible</span>
                            }
                            else
                            {
                                <span>Not Visible</span>
                            }
                        </td>
                        <td class="text-left">@inputType</td>
                        <td class="text-right">
                            @if (Language == "admin")
                            {
                                <a title="Options" href="@Url.Action("Details", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-list-ul"></span></a>
                                <a title="Child Questions" href="@Url.Action("AddNestedQuestion", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-plus"> Child</span></a>
                            }
                            else
                            {
                                if (QuestionOption.Where(x => x.QuestionId == item.Id).Count() > 0)
                                {
                                    <a title="Options" href="@Url.Action("Details", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-list-ul"></span></a>
                                }
                                if (ChildQuestions.Where(x => x.ParentId == item.Id).Count() > 0)
                                {
                                    <a title="Child Questions" href="@Url.Action("AddNestedQuestion", "Questions", new { id = item.Id })" class="btn btn-sm btn-success"><span class="fa fa-plus"> Child</span></a>
                                }
                            }
                            <a title="Edit Question" href="@Url.Action("Edit", "Questions", new { id = item.Id })" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span></a>
                            @if (Language == "admin")
                            {
                                <a title="Delete Question" href="@Url.Action("Delete","Questions", new { id = item.Id })" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> 