﻿@using VaccineSurvey.Dto
@using VaccineSurvey.Model
@using VaccineSurvey.Web.Resources
@model DashboardDto
@{
    var Category = Model.Categories.FirstOrDefault();

    foreach (var item in Model.Questions)
    {
        string display = "";
        //if (item.Id == 98 || item.Id == 83)
        //{ display = "style=display:none;"; }
        <div id="@item.Id-main" @display>
            @{ var required = "";
                if (item.IsRequired) { required = "required"; }

                var options = Model.QuestionOptions.Where(x => x.QuestionId == item.Id).ToList();
                if (item.FormInputId == 5)
                {
                    <label id="@(item.Id)-label" style="margin-bottom:25px;" class="font-weight-bold @required">@Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                }
                else
                {
                    <label id="@(item.Id)-label" class="font-weight-bold @required">@Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                }
                if (item.FormInputId == 4) //DropDwon
                {
                    var op = options;
                    if (item.Id == 2) { op = options.OrderBy(x => LanguageMangager.GetSortExpression(options.FirstOrDefault(), "Name").GetValue(x, null)).ToList(); }
                    <select data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item.FormInputId" data-type="select" data-categoryId="@Category.Id" data-questionId="@item.Id" class="form-control" name="@item.Id" id="@item.Id">
                        <option value="">@Resource.Dropdown_Choose</option>
                        @foreach (var option in op)
                        {
                            <option value="@option.Name" data-questionOptionId="@option.Id">@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</option>
                        }
                    </select>

                    if ((item.Id == 24 || item.Id == 45) && op.Any(x => x.Name.ToLower().StartsWith("other")))
                    {
                        <div>
                            <label id="lbl-@item.Id-other" class="other" style="display:none; font-weight:bold">@Resource.PleaseSpecify</label>
                            <input style="display:none;" onchange="SetSaving(this)" data-type="text" type="text" name="@item.Id-other" class="form-control other" id="@item.Id-other" />
                        </div>
                    }
                    if (item.IsRequired)
                    {
                        <label id="@item.Id-error" name="@item.Id-error" class="text-danger font-weight-bold" style="display:none">@Resource.RequiredAnswer</label>
                    }
                }
                else if (item.FormInputId == 1) //Text
                {
                    <input data-questionOptionId="" data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item.FormInputId" data-type="text" data-categoryId="@Category.Id" data-questionId="@item.Id" type="text" name="@item.Id" class="form-control" id="@item.Id" />

                    if (item.IsRequired)
                    {
                        <label id="@item.Id-error" name="@item.Id-error" class="text-danger font-weight-bold" style="display:none">@Resource.RequiredAnswer</label>
                    }
                }
                else if (item.FormInputId == 6) //Text
                {
                    <textarea data-questionOptionId="" data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item.FormInputId" data-type="text" data-categoryId="@Category.Id" data-questionId="@item.Id" type="text" name="@item.Id" class="form-control" id="@item.Id" rows="3"></textarea>

                    if (item.IsRequired)
                    {
                        <label id="@item.Id-error" name="@item.Id-error" class="text-danger font-weight-bold" style="display:none">@Resource.RequiredAnswer</label>
                    }
                }
                else if (item.FormInputId == 5) //Table
                {
                    var Children = Model.ChildQuestions.Where(x => x.ParentId == item.Id).ToList();
                    <div class="mtable mobile-accordion">
                        <div class="mthead">
                            <div class="mtr">
                                <div class="mth"></div>
                                @foreach (var option in options)
                                {
                                    string width = "";
                                    if (option.ColumnWidth > 0) { width = "style=width:" + option.ColumnWidth + "%"; }
                                    <div class="mth text-center" @width>@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</div>
                                }
                            </div>
                        </div>
                        <div class="mtbody">
                            @foreach (var nestedQuestion in Children)
                            {
                                var nestedQuestionOptions = Model.QuestionOptions.Where(x => x.QuestionId == nestedQuestion.Id).ToList();

                                <div class="mrh">
                                    <span>
                                        <label id="@(nestedQuestion.Id)-label" class="font-weight-bold">@Html.Raw(LanguageMangager.GetPropValue(nestedQuestion, "Name"))</label>
                                        <div id="selectedOption-@nestedQuestion.Id" class="selectedOption"></div>
                                    </span>
                                </div>
                                <div class="mtr">
                                    <div class="mtd mtrh">
                                        <label id="@(nestedQuestion.Id)-label">@Html.Raw(LanguageMangager.GetPropValue(nestedQuestion, "Name"))</label>
                                    </div>
                                    @foreach (var option in options)
                                    {
                                        <div class="mtd">
                                            <label>
                                                <input data-grid="true" data-questionOptionId="@option.Id" data-parentId="@item.Id" data-parent-formInputId="@item.FormInputId" data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@nestedQuestion.FormInputId" data-type="radio" data-categoryId="@Category.Id" data-questionId="@nestedQuestion.Id" type="radio" name="@nestedQuestion.Id" id="@nestedQuestion.Id" value="@option.Name" />
                                                <span class="label-text">
                                                    <span class="kt-hidden-desktop kt-hidden-tablet">@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</span>
                                                </span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    foreach (var option in options)
                    {
                        switch (item.FormInputId)
                        {
                            case 2: // Radio
                                <div>
                                    <label>
                                        <input data-questionOptionId="@option.Id" data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item.FormInputId" data-type="radio" data-categoryId="@Category.Id" data-questionId="@item.Id" type="radio" name="@item.Id" id="@item.Id" value="@option.Name" />
                                        <span class="label-text">@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</span>
                                    </label>
                                </div>
                                break;
                            case 3: // Checkbox
                                <div>
                                    <label>
                                        <input data-questionOptionId="@option.Id" data-required="@item.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item.FormInputId" data-type="checkbox" data-categoryId="@Category.Id" data-questionId="@item.Id" type="checkbox" name="@item.Id" id="@item.Id" value="@option.Name" />
                                        <span class="label-text">@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</span>
                                    </label>
                                    @if (option.Name.ToLower().StartsWith("other"))
                                    {
                                        <div>
                                            <label id="lbl-@item.Id-other" class="other" style="display:none; font-weight:bold">@Resource.PleaseSpecify</label>
                                            <input style="display:none;" onchange="SetSaving(this)" data-type="text" type="text" name="@item.Id-other" class="form-control other" id="@item.Id-other" />
                                            @*<input style="display:none;" onchange="SetSaving(this)" data-type="text" type="text" name="@item.Id-other" class="form-control other" id="@item.Id-other" />*@
                                        </div>
                                    }
                                </div>
                                break;
                        }
                    }

                    if (item.Id == 16 || item.Id == 33 || item.Id == 35 || item.Id == 37)
                    {
                        <label id="lbl-@item.Id-other" class="other" style="display:none; font-weight:bold">@Resource.PleaseSpecify</label>
                        <input style="display:none;" onchange="SetSaving(this)" data-type="text" type="text" name="@item.Id-other" class="form-control other" id="@item.Id-other" />
                    }
                    if (item.IsRequired)
                    {
                        <label id="@item.Id-error" name="@item.Id-error" class="text-danger font-weight-bold" style="display:none">@Resource.RequiredAnswer</label>
                    }
                }
                if (item.Id == 8 || item.Id == 11 || item.Id == 18 || item.Id == 19 || item.Id == 31 || item.Id == 23 || item.Id == 39 || item.Id == 30)
                {
                    var Child = Model.ChildQuestions.Where(x => x.ParentId == item.Id).ToList();
                    if (Child.Count > 0)
                    {
                        var _Questions = Child.Where(x => x.Id == 9 || x.Id == 19 || item.Id == 31 || x.Id == 20 || x.Id == 24).ToList();
                        if (_Questions.Count > 0)
                        {
                            DashboardDto q = new DashboardDto();
                            q.Categories = Model.Categories;
                            q.Questions = _Questions;
                            q.ChildQuestions = Model.ChildQuestions;
                            q.QuestionOptions = Model.QuestionOptions;

                            <div id="child-@item.Id-yes" class="childDiv" style="display:none;">
                                <hr />
                                @Html.Partial("_Questions", q)
                            </div>
                        }

                        var otherQuestions = Child.Where(x => x.Id == 21 || x.Id == 98).ToList();
                        if (otherQuestions.Count > 0)
                        {
                            DashboardDto q = new DashboardDto();
                            q.Categories = Model.Categories;
                            q.Questions = otherQuestions;
                            q.ChildQuestions = Model.ChildQuestions;
                            q.QuestionOptions = Model.QuestionOptions;

                            <div id="child-@item.Id-no" class="childDiv" style="display:none;">
                                <hr />
                                @Html.Partial("_Questions", q)
                            </div>
                        }

                        var cQuestions = Child.Where(x => x.Id == 83).ToList();
                        if (cQuestions.Count > 0)
                        {
                            DashboardDto q = new DashboardDto();
                            q.Categories = Model.Categories;
                            q.Questions = cQuestions;
                            q.ChildQuestions = Model.ChildQuestions;
                            q.QuestionOptions = Model.QuestionOptions;

                            <div id="child-@item.Id" class="childDiv" style="display:none;">
                                <hr />
                                @Html.Partial("_Questions", q)
                            </div>
                        }

                        var loopQuestions = Child.Where(x => x.Id == 12).ToList();
                        if (loopQuestions.Count > 0)
                        {
                            DashboardDto q = new DashboardDto();
                            q.Categories = Model.Categories;
                            q.Questions = loopQuestions;
                            q.ChildQuestions = Model.ChildQuestions;
                            q.QuestionOptions = Model.QuestionOptions;

                            var item2 = q.Questions.FirstOrDefault();

                            if (item2.IsRequired) { required = "required"; } else { required = ""; }

                            <label id="@(item2.Id)-label" style="display:none;" class="font-weight-bold @required">@Html.Raw(LanguageMangager.GetPropValue(item2, "Name"))</label>

                            for (int i = 1; i <= 10; i++)
                            {
                                <div id="child-@item.Id-loop-@i" class="childDiv childDivLoop" style="display:none;">
                                    <hr />
                                    <div id="@item2.Id-main">
                                        @{
                                            options = q.QuestionOptions.Where(x => x.QuestionId == item2.Id).ToList();

                                            <label class="font-weight-bold @required">@Resource.Child @i</label>

                                            if (item2.FormInputId == 4) //DropDwon
                                            {
                                                var op = options;
                                                if (item2.Id == 2) { op = options.OrderBy(x => LanguageMangager.GetSortExpression(options.FirstOrDefault(), "Name").GetValue(x, null)).ToList(); }
                                                <select data-required="@item2.IsRequired.ToString().ToLower()" data-controll="true" onchange="SetSaving(this)" data-formInputId="@item2.FormInputId" data-type="select" data-categoryId="@Category.Id" data-questionId="@item2.Id" class="form-control" name="@item2.Id" id="@item2.Id">
                                                    <option value="">@Resource.Dropdown_Choose</option>
                                                    @foreach (var option in op)
                                                    {
                                                        <option value="@option.Name" data-questionOptionId="@option.Id">@Html.Raw(LanguageMangager.GetPropValue(option, "Name"))</option>
                                                    }
                                                </select>
                                                if (item.IsRequired)
                                                {
                                                    <label id="@item2.Id-error" name="@item2.Id-error" class="text-danger font-weight-bold" style="display:none">@Resource.RequiredAnswer</label>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            }
            <hr />
        </div>
    }
}
