﻿@using VaccineSurvey.Dto
@using VaccineSurvey.Web.Resources
@using VaccineSurvey.Model
@model DashboardDto
@{
    string lang = new LanguageMangager().GetCurrentLanguage().Split('-')[0];
    ViewBag.Title = "Survey";
    int counter = 0;
    int categoryCount = Model.Categories.Count() - 1;
    var pageData = (PageData)ViewBag.PageData;
}

<div class="wizard homepage">
    <div class="tab-content">
        @foreach (var item in Model.Categories)
        {
            DashboardDto q = new DashboardDto();
            q.Categories = new List<VaccineSurvey.Model.Category>() { item };
            q.Questions = Model.Questions.Where(x => x.CategoryId == item.Id).ToList();
            q.ChildQuestions = Model.ChildQuestions;
            q.QuestionOptions = Model.QuestionOptions;

            var active = "";
            if (counter == 0) { active = "active"; }
            <div class="tab-pane @active" role="tabpanel" id="step-@counter">
                <div class="service_list text-center"><h4>@Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</h4></div>
                <div class="card dashboard text-left p-3">
                    @Html.Partial("_Questions", q)
                    <div class="row">
                        <div class="col-6 text-left">
                            @if (counter > 0)
                            {
                                <button type="button" class="prev btn login-btn btn-default" style="margin: 0 10px;" onclick="PreviousStep(@counter, (@counter - 1))">@Resource.Previous</button>
                            }
                        </div>
                        <div class="col-6 text-right">
                            @if (counter == categoryCount)
                            {
                                <button type="button" class="next btn login-btn green-btn" style="margin: 0 10px;" onclick="Submit(@counter, (@counter + 1))">@Resource.Next</button>
                            }
                            else
                            {
                                <button type="button" class="next btn login-btn green-btn" style="margin: 0 10px;" onclick="NextStep(@counter, (@counter + 1))">@Resource.Next</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
        @{ counter = categoryCount + 1; }
        <div class="tab-pane" role="tabpanel" id="step-@counter">
            <div class="service_list text-center"><h4>@Resource.Survey_Thankyou</h4></div>
            <div class="card dashboard text-left p-3">
                @Html.Raw(LanguageMangager.GetPropValue(pageData, "PageHTML"))
                <hr />
                <div class="row">
                    <div class="col-6 text-left"><button type="button" class="prev btn login-btn btn-default" style="margin: 0 10px;" onclick="Realod()">@Resource.Previous</button></div>
                    <div class="col-6 text-right"><button type="button" class="next btn login-btn green-btn" style="margin: 0 10px;" onclick="ThankYou()">@Resource.See_Survey_Results</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<table style="width: 100%;border-collapse: collapse;" id="tblProgress">
    <tbody>
        <tr>
            <td style="width: 4px;"> 0% </td>
            <td style="width: 100%;"><div class="progress"><div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div></div></td>
            <td style="width: 4px;"> 100% </td>
        </tr>
    </tbody>
</table>
<input type="hidden" id="startTime" name="startTime" value="@DateTime.UtcNow.ToString("dd/MM/yyyy hh:mm:ss tt")" />
@section scripts
{
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert.min.css" rel="stylesheet" />
    <style>
        .mtr.required label {
            color: red !important;
        }
    </style>
    <script>
        var categoryCount = @counter;

        function Realod() {
            data_needs_saving = false;
            window.onbeforeunload = null;
            window.location.href = "/@lang/Home";
        }

        function ShowHideYesNo(id, val) {
            if (val === "Yes") {
                $("#child-" + id + "-yes").show();
                $("#child-" + id + "-yes").find('select').val('');
                $("#child-" + id + "-yes hr:last-child").remove();
                $("#child-" + id + "-yes").find('.text-danger').hide();

                $("#child-" + id + "-no").hide();
                $("#child-" + id + "-no").find('input[type=radio]').prop('checked', false);
                $("#child-" + id + "-no").find('input[type=checkbox]').prop('checked', false);
                $("#child-" + id + "-no").find('.text-danger').hide();
                $("#child-" + id + "-no").find('.other').hide();
                $("#child-" + id + "-no").find('input[type=text]').val('').hide();
            }

            else if (val === "No") {
                $("#child-" + id + "-yes").hide();
                $("#child-" + id + "-yes").find('select').val('');
                $("#child-" + id + "-yes").find('.text-danger').hide();
                $("#child-" + id + "-no").show();
                $("#child-" + id + "-no").find('.text-danger').hide();
                $("#child-" + id + "-no").find('input[type=radio]').prop('checked', false);
                $("#child-" + id + "-no").find('input[type=checkbox]').prop('checked', false);
                $("#child-" + id + "-no hr:last-child").remove();
                $("#child-" + id + "-no").find('.other').hide();
                $("#child-" + id + "-no").find('input[type=text]').val('').hide();
            }
        }

        function SetSaving(_this) {
            data_needs_saving = true;
            var control = $(_this);
            var id = parseInt(control.attr("id"));

            if (id === 38 || id === 80 || id === 93 || id === 92) {
                var questionoptionid = parseInt(control.attr("data-questionoptionid"));
                if (questionoptionid === 889 || questionoptionid === 899 || questionoptionid === 878 || questionoptionid === 877) {
                    if (control.is(":checked")) {
                        $('input[name=' + id + '][type=checkbox]').prop('checked', false).parent().parent().hide();
                        control.prop('checked', true).parent().parent().show();
                    } else {
                        $('input[name=' + id + '][type=checkbox]').parent().parent().show();
                    }
                    $("#lbl-" + id + "-other").hide(); $("#" + id + "-other").hide().val('');
                }
            }

            if (id === 38 || id === 80 ) {
                if ($('input[name=' + id + '][type=checkbox]:checked').length > 3) {
                    control.prop('checked', false);
                    swal({
                        title: "@Resource.CheckboxLimitError",
                        icon: "warning",
                        buttons: true,
                        reverseButtons: true,
                        buttons: { confirm: "@Resource.Confirm_Yes" },
                    });
                    return;
                }
            }

            $('#' + id + '-error').hide();
            var next = control.closest('.card.dashboard').find('.next');

            if (control.val().startsWith("Other")) { if (control.is(":checked")) { $("#lbl-" + id + "-other").show(); $("#" + id + "-other").show().val(''); } else { $("#lbl-" + id + "-other").hide(); $("#" + id + "-other").hide().val(''); } }

            if (id === 8 && control.val() === "Yes") { $("#notEligible").remove(); next.show(); }
            if (id === 8 && control.val() === "No") {
                $("#notEligible").remove(); next.show();
                if ($("#11").val() === "0") {
                    next.hide();
                    var str = "<div class='alert alert-danger' id='notEligible'>" +
                        "<h4 class='alert-heading'>@Resource.We_are_sorry</h4>" +
                        "<p>@Resource.notEligible_Message</p>" +
                        "</div>";
                    $("#" + id + "-main").append(str);
                }
            }

            if (id === 8) { ShowHideYesNo(id, control.val()); }

            else if (id === 11) {
                $("#notEligible").remove();
                next.show();
                $(".childDivLoop").hide();
                $(".childDivLoop").find('select').val('');
                $(".childDivLoop").find('.text-danger').hide();

                $("#12-label").hide();
                if (control.val() !== "") {
                    var baby = parseInt(control.val());

                    if (baby === 0) {
                        if ($("input:radio[name='8']:checked").val() === "No") {
                            next.hide();
                            var str = "<div class='alert alert-danger' id='notEligible'>" +
                                "<h4 class='alert-heading'>@Resource.We_are_sorry</h4>" +
                                "<p>@Resource.notEligible_Message</p>" +
                                "</div>";
                            $("#" + id + "-main").append(str);
                        }
                    }
                    else {
                        $("#12-label").show();
                        $("#child-11-loop-1 hr").remove();
                        for (var i = 1; i <= baby; i++) {
                            $("#child-" + id + "-loop-" + i).show();
                            $("#child-" + id + "-loop-" + i).find('select').val('');

                            $("#child-" + id + "-loop-" + i).find('.text-danger').hide();
                        }
                    }
                }
            }
            else if (id === 18) { ShowHideYesNo(id, control.val()); }
            else if (id === 19) { ShowHideYesNo(id, control.val()); }
            else if (id === 31) { ShowHideYesNo(id, control.val()); }
            else if (id === 23) { ShowHideYesNo(id, control.val()); }
            else if (id === 39) { ShowHideYesNo(id, control.val()); }
            else if (id === 45) {
                if (control.attr("id") !== "45-other") {
                    if (control.val().startsWith("Other")) { $("#lbl-" + id + "-other").show(); $("#" + id + "-other").show().val(''); }
                    else { $("#lbl-" + id + "-other").hide(); $("#" + id + "-other").hide().val(''); }
                }
            }
            else if (id == 16 || id == 33 || id == 35 || id == 37) {
                if (control.attr("id").indexOf("-other") < 0) {
                    if ($('#' + id + "-main div:last").find('input[type=radio]').is(':checked')) {
                        $("#lbl-" + id + "-other").show(); $("#" + id + "-other").show().val('');
                    }
                    else { $("#lbl-" + id + "-other").hide(); $("#" + id + "-other").hide().val(''); }
                }
            }
            else if (id === 30 && control.val() === "Not worried at all") {
                $("#child-30").hide();
                $("#83-main hr").remove();
                $("#lbl-83-other").hide();
                $('#83-error').hide();
                $("#83-main input[type=checkbox]").prop('checked', false);
                $("#83-main input[type=text]").hide().val('');
            }
            else if (id === 30 && control.val() === "") { $("#83-main hr").remove(); $('#83-error').hide(); $("#child-30").hide(); }
            else if (id === 30 && control.val() !== "Not worried at all") { $("#83-main hr").remove(); $('#83-error').hide(); $("#child-30").show(); }

            var datagrid = control.attr("data-grid");
            if (datagrid === "true") {
                $("#selectedOption-" + id).html(control.next().text());
                control.closest('.mtr').removeClass('required');
            }
        }

        function Submit(current, nex) {
            var isError = NextStep(current, nex);
            if (isError === 0) { Save(); }
        }

        function ThankYou() { data_needs_saving = false; window.onbeforeunload = null; window.location.href = "/@lang/Survey/ThankYou"; }

        function NextStep(current, nex) {
            var isError = 0;
            var $list = $("#step-" + current + " [data-required=true]");
            $('.mtr').removeClass('required');
            $list.each(function () {
                var $input = $(this);
                var showError = false;
                var Id = parseInt($input.attr('id'));

                var isNewRequ = true;
                if (Id === 83 && $("#83-main").css("display") === "none") { isNewRequ = false; }

                if (isNewRequ) {
                    var formInputId = parseInt($input.attr('data-parent-formInputId'));
                    if (formInputId === 5) { Id = parseInt($input.attr('data-parentId')); }
                    var childDiv = $input.closest('.childDiv');
                    if (childDiv && childDiv.css('display') === 'none') { }
                    else {
                        if ($input.attr('data-type') === 'select') { if ($input.val() === "" || $input.val() === "0") { showError = true; } }
                        else if ($input.prop('type') === 'text' || $input.prop('type') === 'textarea') { if ($input.val() === "") { showError = true; } }
                        else if ($input.prop('type') === 'checkbox' || $input.prop('type') === 'radio') {
                            var name = $input.attr('name');
                            if (!$("input[name=" + name + "]:checked").val()) { showError = true; }
                        }

                        if (Id !== 12) {
                            if (showError) {
                                if (Id === 11) {
                                    if ($('input[name=8]:checked').val() === "No") {
                                        $('#' + Id + '-error').show();
                                        document.getElementById(Id + '-label').scrollIntoView({ behavior: 'smooth' });
                                        isError++;
                                    }
                                   else  if ($('input[name=8]:checked').val() === "Yes" && $("#11").val() !== '0') {
                                        $('#' + Id + '-error').show();
                                        document.getElementById(Id + '-label').scrollIntoView({ behavior: 'smooth' });
                                        isError++;
                                    }
                                }
                                else {
                                    $('#' + Id + '-error').show();
                                    document.getElementById(Id + '-label').scrollIntoView({ behavior: 'smooth' });
                                    isError++;
                                    if (formInputId === 5) { $input.closest('.mtr').addClass('required'); }
                                }
                            } else { $('#' + Id + '-error').hide(); }
                        }
                        else if (Id === 12) {
                            var baby = parseInt($("#11").val());
                            if (baby !== 0) {
                                for (var i = 1; i <= baby; i++) {
                                    if ($("#child-11-loop-" + i).css("display") === "block") {
                                        if ($("#child-11-loop-" + i).find('select').val() === "") {
                                            $("#child-11-loop-" + i).find('.text-danger').show();
                                            isError++;
                                        } else {
                                            $("#child-11-loop-" + i).find('.text-danger').hide();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            });

            if (isError === 0) {
                $("#step-" + current).removeClass('active');
                $("#step-" + nex).addClass('active');
                var dProgress = (nex / categoryCount) * 100.0;
                $('.progress-bar').css('width', parseInt(dProgress) + '%').attr('aria-valuenow', parseInt(dProgress)).html(parseInt(dProgress) + '%');
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            return isError;
        }

        function PreviousStep(current, pre) {
            $("#step-" + current).removeClass('active');
            $("#step-" + pre).addClass('active');
            var dProgress = (pre / categoryCount) * 100.0;
            if (dProgress < 0) dProgress = 0;
            $('.progress-bar').css('width', parseInt(dProgress) + '%').attr('aria-valuenow', parseInt(dProgress)).html('');
            if (dProgress > 0) $('.progress-bar').html(parseInt(dProgress) + '%');
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        function addModel(obj) {
            var val = obj.value;
            var id = obj.getAttribute("id");
            if (val.startsWith("Other")) {
                val = val + ": " + $("#" + id + "-other").val();
            }

            if (id == 16 || id == 33 || id == 35 || id == 37) {
                if ($('#' + id + "-main div:last").find('input[type=radio]').is(':checked')) {
                    val = $("#" + id + "-other").val();
                }
                else { val = null; }
            }
            else if (!val.startsWith("Other") && obj.getAttribute('type') !== 'text') { val = null; }

            var QuestionOptionId = obj.getAttribute("data-questionOptionId");

            if (obj.getAttribute("data-type") === "select") { QuestionOptionId = $(obj).find(':selected').attr('data-questionOptionId'); }
            var model = {
                CategoryId: obj.getAttribute("data-categoryId"),
                QuestionId: obj.getAttribute("data-questionId"),
                FormInputId: obj.getAttribute("data-formInputId"),
                QuestionOptionId: QuestionOptionId,
                Text: val
            };
            return model;
        }

        function Save() {
            var $list = $("[data-controll=true]");
            var viewModel = [];

            $list.each(function (i, obj) {
                const dataType = obj.getAttribute('data-type');
                const val = obj.value;
                if (dataType === "radio" || dataType === "checkbox") { if (obj.checked) { viewModel.push(addModel(obj)); } }
                else if (val.length > 0) { viewModel.push(addModel(obj)); }
            });

            if (viewModel.length > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Survey/PostRequest",
                    dataType: "json",
                    data: { 'viewModel': JSON.stringify(viewModel), 'startTime': $("#startTime").val() },
                    success: function (result, status, xhr) { localStorage.removeItem("Pregnant");data_needs_saving = false; window.onbeforeunload = null; },
                    error: function (xhr, status, error) { console.log(status); }
                });
            } else { data_needs_saving = false;window.onbeforeunload = null; window.location.href = "/@lang/Survey/ThankYou"; }
            return false;
        }
    </script>
    <script>
        $(document).ready(function () {

            $("#notEligible").remove();
            var Pregnant = localStorage.getItem("Pregnant");
            if (Pregnant === "1") {
                $('input[id=8][type=radio][value=Yes]').prop('checked', true);

                $("#8-label").prev().hide();
                $("#8-label").hide().next().hide().next().hide();

                $("#child-8-yes").show();
                $("#child-8-yes hr").remove();
                $("#child-8-yes").find('.text-danger').hide();

                $("#child-8-no").hide();
                $("#child-8-no").find('input[type=radio]').prop('checked', false);
                $("#child-8-no").find('.text-danger').hide();
            }
            else if (Pregnant === "2") {
                $('input[id=8][type=radio][value=No]').prop('checked', true);

                $("#8-label").prev().hide();
                $("#8-label").hide().next().hide().next().hide();
                $("#8-main hr").hide(); 
            }

            var maxMobileSize = 768; // this value should match the media query
            var mobileAccordionTableSelector = ".mtable.mobile-accordion";

            // Resize and Reorientation code borrowed and modified from this StackOverflow answer:
            var previousOrientation = window.orientation;

            var checkOrientation = function () {
                if (window.orientation !== previousOrientation) {
                    previousOrientation = window.orientation;
                    checkScreenSize();
                }
            };

            var checkScreenSize = function () { var width = $(window).width(); if (width < maxMobileSize) { handleMobile(); } else { handleDesktop(); } }

            window.addEventListener("resize", checkScreenSize, false);
            window.addEventListener("orientationchange", checkOrientation, false);

            // Android doesn't always fire orientationChange on 180 degree turns
            setInterval(checkOrientation, 2000);

            function handleMobile() {
                $('.mtbody .active').removeClass('active');
                $('.mtbody .mrh:first-child').addClass('active');
                slideUpAllInactive();
                $(mobileAccordionTableSelector + " .mrh").unbind().bind("click", function () { handleMobileAccordionTableClick(this); });
                $(mobileAccordionTableSelector + " .mtd").unbind().bind("click", function () { handleMobileAccordionTableClick($(this).parent().prev()); });
            }

            function handleDesktop() {
                showRows();
                addRowHighlighting();
                $(mobileAccordionTableSelector + " .mrh").unbind("click");
                $(mobileAccordionTableSelector + " .mtd").unbind().bind("click", function () {
                    $(this).find('input[type=radio]').prop('checked', true);
                    $(this).closest('.mtr').removeClass('required');
                    SetSaving($(this).find('input[type=radio]'));
                });
            }

            function showRows() {
                $(mobileAccordionTableSelector + " .mtr").each(function () { $(this).removeAttr("style"); });
                $('.mtbody .active').removeClass('active');
            }

            function addRowHighlighting() {
                var table = $(".mtable .mtbody");
                $(table).each(function () {
                    var rows = $(this).find(".mtr");
                    for (var i = 0; i < rows.length; i++) { if (i % 2 == 1) { } else { $(rows[i]).addClass("alternate-highlight"); } }
                });
            }

            function slideUpAllInactive() { $(".mtable .mrh").not(".active").each(function () { $(this).next().slideUp(); }); }

            function handleMobileAccordionTableClick(rowHeader) {
                var table = $(rowHeader).parents(".mtable");
                $(table).find(".mrh").each(function () { $(this).removeClass("active"); });
                var nextRow = $(rowHeader).next();
                if (!nextRow.is(":visible")) {
                    $(rowHeader).addClass("active");
                    nextRow.slideDown();
                } else {
                    var nextHead = nextRow.next();
                    var nextRow2 = $(nextHead).next();
                    $(nextHead).addClass("active");
                    nextRow2.slideDown();
                }
                slideUpAllInactive();
            }
            // Need to run this on first load
            checkScreenSize();
        });

        function ShowMessage(url) {
            swal({
                title: $("#LeavePageMessage").val(),
                icon: "warning",
                buttons: true,
                reverseButtons: true,
                buttons: { confirm: "@Resource.Confirm_Yes", cancel: "@Resource.Confirm_No" },
            }).then(function (isConfirm) { if (isConfirm) { window.location.href = url; } });
        }
    </script>
}
