﻿@using VaccineSurvey.Web.Resources
@using VaccineSurvey.Model
@{
    ViewBag.Title = Resource.Sorry;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string lang = new LanguageMangager().GetCurrentLanguage().Split('-')[0];
    var pageData = (PageData)ViewBag.PageData;
}
<div class="card dashboard text-left p-3 homepage"><div class="text-center m-10 p-5">@Html.Raw(LanguageMangager.GetPropValue(pageData, "PageHTML"))</div></div> 