﻿@using System.Globalization
@model VaccineSurvey.Dto.GraphsDto
@using VaccineSurvey.Web.Resources
@{ 
    ViewBag.Title = "Results";
    string data_18 = "";
    string data_20 = "";
    string data_27 = "";
    string data_23 = "";

    string data_18_M = "";
    string data_20_M = "";
    string data_27_M = "";
    string data_23_M = "";

    string data_16_labels = "";
    string data_16_datasets = "";
}
<div class="card dashboard text-left p-3 homepage">
    <div class="row mb-15"><div class="col-12"><label class="font-weight-bold">@Resource.Total_number_of_submissions: @Model.TotalNumberOfSubmission</label></div></div>

    <div class="row mb-15">
        <div class="col-12">
            <label class="font-weight-bold">@Resource.Result_Q1</label>
            @foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 16))
            {
                data_16_labels += "'" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "',";

                double count = Convert.ToDouble(Model.QuestionSubmit.Where(x => x.QuestionId == 16 && x.Answer.ToLower() == item.Name.ToLower()).Count());

                var dProgress = (count / Model.TotalNumberOfSubmission) * 100.0;
                data_16_datasets += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
            }
        </div>
    </div>
    <div class="row mb-40 chart chart16"><div class="col-12"><canvas id="canvas-16"></canvas></div></div>

    <div class="row mb-15">
        <div class="col-12">
            <label class="font-weight-bold">@Resource.Result_Q2</label>
            <ul class="kt-hidden-desktop">
                @{
                    int counter = 1;
                    List<string> colors = new List<string>() { "window.chartColors.red", "window.chartColors.orange", "window.chartColors.yellow", "window.chartColors.green", "window.chartColors.blue", "window.chartColors.purple", "window.chartColors.grey", "window.chartColors.olive", "window.chartColors.aqua" };

                    data_18 = "{labels: [";
                    data_18_M = "{labels: [";

                    foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 18))
                    {
                        data_18_M += "'Q" + counter + "', ";
                        data_18 += "'" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "',";
                        <li>
                            <label class="font-weight-bold"><span>Q</span>@counter. @Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                        </li>
                        counter++;
                    }
                    data_18 += "],datasets: [";
                    data_18_M += "],datasets: [";
                    foreach (var option in Model.QuestionOptions.Where(x => x.QuestionId == 18))
                    {
                        var color = colors.FirstOrDefault();
                        colors.Remove(color);

                        data_18 += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";
                        data_18_M += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";

                        foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 18))
                        {
                            double count = Convert.ToDouble(Model.QuestionSubmit.Where(x => x.QuestionId == item.Id && x.Answer.ToLower() == option.Name.ToLower()).Count());

                            var dProgress = (count / Model.TotalNumberOfSubmission) * 100.0;
                            data_18 += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                            data_18_M += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                        }
                        data_18 += "]}, ";
                        data_18_M += "]}, ";
                    }
                    data_18 += "]}";
                    data_18_M += "]}";
                }
            </ul>
        </div>
    </div>
    <div class="row mb-40 chart chart18"><div class="col-12"><canvas id="canvas-18"></canvas></div></div>

    <div class="row mb-15">
        <div class="col-12">
            <label class="font-weight-bold">@Resource.Result_Q3</label>
            <ul class="kt-hidden-desktop">
                @{
                    counter = 1;
                    colors = new List<string>() { "window.chartColors.red", "window.chartColors.orange", "window.chartColors.yellow", "window.chartColors.green", "window.chartColors.blue", "window.chartColors.purple", "window.chartColors.grey", "window.chartColors.olive", "window.chartColors.aqua" };
                    data_20 = "{labels: [";
                    data_20_M = "{labels: [";

                    foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 20))
                    {
                        data_20_M += "'Q" + counter + "', ";
                        data_20 += "'" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "',";
                        <li>
                            <label class="font-weight-bold"><span>Q</span>@counter. @Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                        </li>  
                        counter++;
                    }
                    data_20 += "],datasets: [";
                    data_20_M += "],datasets: [";
                    foreach (var option in Model.QuestionOptions.Where(x => x.QuestionId == 20))
                    {
                        var color = colors.FirstOrDefault();
                        colors.Remove(color);
                        data_20 += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";
                        data_20_M += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";
                         
                        foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 20))
                        {
                            double count = Convert.ToDouble(Model.QuestionSubmit.Where(x => x.QuestionId == item.Id && x.Answer.ToLower() == option.Name.ToLower()).Count());

                            var dProgress = (count / Model.TotalNumberOfSubmission) * 100.0;
                            data_20 += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                            data_20_M += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                        }
                        data_20 += "]}, ";
                        data_20_M += "]}, ";
                    }
                    data_20 += "]}";
                    data_20_M += "]}";
                }
            </ul>
        </div>
    </div>
    <div class="row mb-40 chart chart20"><div class="col-12"><canvas id="canvas-20"></canvas></div></div>

    <div class="row mb-15">
        <div class="col-12">
            <label class="font-weight-bold">@Resource.Result_Q4</label>
            <ul class="kt-hidden-desktop">
                @{
                    counter = 1;
                    colors = new List<string>() { "window.chartColors.red", "window.chartColors.orange", "window.chartColors.yellow", "window.chartColors.green", "window.chartColors.blue", "window.chartColors.purple", "window.chartColors.grey", "window.chartColors.olive", "window.chartColors.aqua" };

                    data_27 = "{labels: [";
                    data_27_M = "{labels: [";

                    foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 27))
                    {
                        data_27_M += "'Q" + counter + "', ";
                        data_27 += "'" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "',";
                        <li>
                            <label class="font-weight-bold"><span>Q</span>@counter. @Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                        </li>
                        counter++;
                    }
                    data_27 += "],datasets: [";
                    data_27_M += "],datasets: [";
                    foreach (var option in Model.QuestionOptions.Where(x => x.QuestionId == 27))
                    {
                        var color = colors.FirstOrDefault();
                        colors.Remove(color);
                        data_27 += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";
                        data_27_M += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: ["; 
                        foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 27))
                        {
                            double count = Convert.ToDouble(Model.QuestionSubmit.Where(x => x.QuestionId == item.Id && x.Answer.ToLower() == option.Name.ToLower()).Count());

                            var dProgress = (count / Model.TotalNumberOfSubmission) * 100.0;
                            data_27 += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                            data_27_M += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                        }
                        data_27 += "]}, ";
                        data_27_M += "]}, ";
                    }
                    data_27 += "]}";
                    data_27_M += "]}";
                }
            </ul>
        </div>
    </div>
    <div class="row mb-40 chart chart27"><div class="col-12"><canvas id="canvas-27"></canvas></div></div>

    <div class="row mb-15">
        <div class="col-12">
            <label class="font-weight-bold">@Resource.Result_Q5</label>
            <ul class="kt-hidden-desktop">
                @{
                    counter = 1;
                    colors = new List<string>() { "window.chartColors.red", "window.chartColors.orange", "window.chartColors.yellow", "window.chartColors.green", "window.chartColors.blue", "window.chartColors.purple", "window.chartColors.grey", "window.chartColors.olive", "window.chartColors.aqua" };

                    data_23 = "{labels: [";
                    data_23_M = "{labels: [";

                    foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 23))
                    {
                        data_23_M += "'Q" + counter + "', ";
                        data_23 += "'" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "',";
                        <li>
                            <label class="font-weight-bold"><span>Q</span>@counter. @Html.Raw(LanguageMangager.GetPropValue(item, "Name"))</label>
                        </li>
                        counter++;
                    }
                    data_23 += "],datasets: [";
                    data_23_M += "],datasets: [";
                    foreach (var option in Model.QuestionOptions.Where(x => x.QuestionId == 23))
                    {
                        var color = colors.FirstOrDefault();
                        colors.Remove(color);
                        data_23 += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";
                        data_23_M += "{label: '" + Html.Raw(LanguageMangager.GetPropValue(option, "Name")) + "', backgroundColor: " + color + ", data: [";  
                        foreach (var item in Model.ChildQuestions.Where(x => x.ParentId == 23))
                        {
                            double count = Convert.ToDouble(Model.QuestionSubmit.Where(x => x.QuestionId == item.Id && x.Answer.ToLower() == option.Name.ToLower()).Count());

                            var dProgress = (count / Model.TotalNumberOfSubmission) * 100.0;
                            data_23 += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                            data_23_M += dProgress.ToString("0.##", CultureInfo.CreateSpecificCulture("en-US")) + ",";
                        }
                        data_23 += "]}, ";
                        data_23_M += "]}, ";
                    }
                    data_23 += "]}";
                    data_23_M += "]}";
                }
            </ul>
        </div>
    </div>
    <div class="row mb-40 chart chart23"><div class="col-12"><canvas id="canvas-23"></canvas></div></div>
</div>
@section scripts
{
    <style>
        ul li {
            font-size: 14px;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .table-responsive {
            padding-left: 2px;
            padding-right: 2px;
            overflow: hidden;
        }

        .chart16 .table-responsive {
            max-height: 400px;
        }

        .chart18 .table-responsive {
            max-height: 550px;
        }

        .chart20 .table-responsive {
            max-height: 300px;
        }

        .chart27 .table-responsive {
            max-height: 250px;
        }

        .chart23 .table-responsive {
            max-height: 280px;
        }
    </style>
    <script src="~/Scripts/Chart.min.js"></script>
    <script>
        var fontsize = 16;
        var maintainAspectRatio = false;
        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) {
            isMobile = true;
        }
        $('.chart .col-12').addClass('table-responsive').find('canvas').addClass('table');
        if (isMobile) {
            $('.card.dashboard.text-left.p-3.homepage').removeClass('card').removeClass('dashboard').removeClass('p-3');

            maintainAspectRatio = false;
            fontsize = 11;
        }
        window.onload = function () {
            var data_16 = {
                datasets: [{
                    data: [@data_16_datasets],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                    ]
                }], labels: [ @Html.Raw(data_16_labels)]
            };
            LoadPieChart(16, data_16);

            var data_18 = @Html.Raw(data_18);
            if (isMobile) data_18 = @Html.Raw(data_18_M);
            LoadBarChart(18, data_18);

            var data_20 = @Html.Raw(data_20);
            if (isMobile) data_20 = @Html.Raw(data_20_M);
            LoadBarChart(20, data_20);

            var data_27 = @Html.Raw(data_27);
            if (isMobile) data_27 = @Html.Raw(data_27_M);
            LoadBarChart(27, data_27);

            var data_23 = @Html.Raw(data_23);
            if (isMobile) data_23 = @Html.Raw(data_23_M);
            LoadBarChart(23, data_23);
        };

        function LoadPieChart(id, data) {
            var ctx = document.getElementById('canvas-' + id).getContext('2d');
            window.myPie = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {
                    plugins: {
                        datalabels: {
                            display: true,
                            align: 'center',
                            anchor: 'center',
                            color: 'white',

                            labels: {
                                value: {
                                    font: { size: 16 },
                                    formatter: function (value, ctx) {
                                        return value > 0 ? value + '%' : '';
                                    }
                                }
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: maintainAspectRatio
                }
            });
        }

        function LoadBarChart(id, data) {
            var ctx = document.getElementById('canvas-' + id).getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: data,
                options: {
                    plugins: {
                        datalabels: {
                            display: true,
                            align: 'center',
                            anchor: 'center',
                            color: 'white',

                            labels: {
                                value: {
                                    font: { size: fontsize },
                                    formatter: function (value, ctx) {
                                        return value > 0 ? value + '%' : '';
                                    }
                                }
                            }
                        }
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    maintainAspectRatio: maintainAspectRatio,
                    scales: {
                        xAxes: [{
                            stacked: true,
                            ticks: {
                                min: 0,
                                max: 100,
                                callback: function (value) {
                                    return (value / 100 * 100).toFixed(0) + '%'; // convert it to percentage
                                },
                            }
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }



                }
            });
        }
    </script>
}