﻿@using System.Globalization
@model VaccineSurvey.Dto.GraphsDto
@using VaccineSurvey.Web.Resources
@{
    ViewBag.Title = "Results";

    int index = 0;
    var CountryList = Model.QuestionOptions.Where(x => x.QuestionId == 2);

    var Question_84 = Model.Questions.Where(x => x.Id == 84).FirstOrDefault();
    var Question_87 = Model.ChildQuestions.Where(x => x.Id == 87).FirstOrDefault();

    string Pie_87 = "[['Enrolled', 'Enrollment']";
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 84))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 87 && x.QuestionOptionId == item.Id).Count();
        Pie_87 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_87 += "]";


    var Question_105 = Model.Questions.Where(x => x.Id == 105).FirstOrDefault();
    var Question_109 = Model.ChildQuestions.Where(x => x.Id == 109).FirstOrDefault();

    string Pie_109 = "[['Enrolled', 'Enrollment']";
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 105))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 109 && x.QuestionOptionId == item.Id).Count();
        Pie_109 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_109 += "]";


    string Pie_90 = "[['Enrolled', 'Enrollment']";
    var Question_85 = Model.Questions.Where(x => x.Id == 85).FirstOrDefault();
    var Question_90 = Model.ChildQuestions.Where(x => x.Id == 90).FirstOrDefault();
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 85))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 90 && x.QuestionOptionId == item.Id).Count();
        Pie_90 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_90 += "]";

    string Pie_42 = "[['Enrolled', 'Enrollment']";
    var Question_42 = Model.Questions.Where(x => x.Id == 42).FirstOrDefault();
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 42))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 42 && x.QuestionOptionId == item.Id).Count();
        Pie_42 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_42 += "]";

    string Pie_48 = "[['Enrolled', 'Enrollment']";
    var Question_48 = Model.Questions.Where(x => x.Id == 48).FirstOrDefault();
    var Question_62 = Model.ChildQuestions.Where(x => x.Id == 62).FirstOrDefault();
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 48))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 62 && x.QuestionOptionId == item.Id).Count();
        Pie_48 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_48 += "]";

    string Pie_112 = "[['Enrolled', 'Enrollment']";
    var Question_112 = Model.Questions.Where(x => x.Id == 112).FirstOrDefault();
    var Question_113 = Model.ChildQuestions.Where(x => x.Id == 113).FirstOrDefault();
    foreach (var item in Model.QuestionOptions.Where(x => x.QuestionId == 112))
    {
        var count = Model.QuestionSubmit.Where(x => x.QuestionId == 113 && x.QuestionOptionId == item.Id).Count();
        Pie_112 += ",['" + Html.Raw(LanguageMangager.GetPropValue(item, "Name")) + "', " + count + "]";
    }
    Pie_112 += "]";
}
<div class="service_list text-center"><h4>@Resource.ParticipantsbyCountry</h4></div>
<div class="card dashboard text-left"> 
    <div class="row mb-15 p-3"><div class="col-12"><label class="font-weight-bold">@Resource.Total_number_of_submissions: @Model.TotalNumberOfSubmission</label></div></div>
    <div class="row map-section mb-15">
        <div class="col-lg-9 col-md-9 col-sm-12 col-12 text-center"> <div id="regions"></div></div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <div data-simplebar=data-simplebar data-simplebar-auto-hide="false" id="countriesList">
                                <ul><li><input type="checkbox" checked="checked" id="select_all" name="select_all" /><label for="select_all">All</label></li></ul>
                                <ul id="clist">
                                    @foreach (var userCountry in Model.CountryCounts)
                                    {
                                        index++;
                                        var Selectedcountry = CountryList.Where(x => x.Id == userCountry.QuestionOptionId).FirstOrDefault();
                                        if (Selectedcountry != null)
                                        {
                                            var country = LanguageMangager.GetPropValue(Selectedcountry, "Name");
                                            <li>
                                                <div id="country-@index-div">
                                                    <input type="checkbox"
                                                           checked="checked"
                                                           id="country-@index"
                                                           name="country-@index"
                                                           data-country="@Selectedcountry.Name"
                                                           value="@userCountry.CountryCount" />

                                                    <label for="country-@index">@Html.Raw(country) (@userCountry.CountryCount)</label>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-3 mb-15">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 25px;">
                    <label>@Html.Raw(LanguageMangager.GetPropValue(Question_84, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_87, "Name"))</label>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                    <div></div>
                    <label style="text-align:center">Not Pregnant</label>

                    @*<label>@Html.Raw(LanguageMangager.GetPropValue(Question_84, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_87, "Name"))</label>*@
                    <div class="chart_wrap">
                        <div class="chart" id="Pie_87"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                    <label>Pregnant</label>
                    @*<label>@Html.Raw(LanguageMangager.GetPropValue(Question_105, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_109, "Name"))</label>*@
                    <div class="chart_wrap">
                        <div class="chart" id="Pie_109"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 25px">
                    <div class="hide20"><label>@Html.Raw(LanguageMangager.GetPropValue(Question_48, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_62, "Name"))</label>
                    </div>
                    
                 </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                    <label style="text-align:center">Not Pregnant</label>

                    @*<label>@Html.Raw(LanguageMangager.GetPropValue(Question_48, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_62, "Name"))</label>*@
                    <div class="chart_wrap">
                        <div class="chart" id="Pie_48"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                    <label>Pregnant</label>

                    @*<label>@Html.Raw(LanguageMangager.GetPropValue(Question_112, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_113, "Name"))</label>*@
                    <div class="chart_wrap">
                        <div class="chart" id="Pie_112"></div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                <div class="hide85">
                    <label>@Html.Raw(LanguageMangager.GetPropValue(Question_42, "Name"))</label>
                </div>
                
                <div class="chart_wrap">
                    <div class="chart" id="Pie_42"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 25px;">
                <label>@Html.Raw(LanguageMangager.GetPropValue(Question_85, "Name")) @Html.Raw(LanguageMangager.GetPropValue(Question_90, "Name"))</label>
                <div class="chart_wrap">
                    <div class="chart" id="Pie_90"></div>
                </div>
            </div>


        </div>
    </div>
</div>
@section scripts
{
    <style>
        .chart_wrap {
            position: relative;
            padding-bottom: 100%;
            height: 0;
            overflow: hidden;
        }

        .chart {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 100%;
        }
       
        .hide85 {
        margin-bottom:25px;
        }
        .hide20 {
        margin-bottom:20px;
        }

    </style>
    <link href="~/Content/chart-style.css?v=2" rel="stylesheet" />
    <script src="https://unpkg.com/simplebar@5.2.1/dist/simplebar.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        new SimpleBar(document.getElementById('countriesList'));

        google.charts.load('current', { packages: ['geochart'], mapsApiKey: 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY' });
        google.charts.load("current", { packages: ['corechart'] });

        google.charts.setOnLoadCallback(initialChart);

        function drawRegionsMap(regions) {
            var data = google.visualization.arrayToDataTable(regions);
            var options = {};
            new google.visualization.GeoChart(document.getElementById('regions')).draw(data, options);
        }

        function drawChartPie(pie, control) {
            var data = google.visualization.arrayToDataTable(pie);
            var options = {
                title: '',
                width: '100%',
                height: '100%',
                chartArea: {
                    height: "90%",
                    width: "96%"
                },
            };

            new google.visualization.PieChart(document.getElementById(control)).draw(data, options);
        }
        function initialChart() {
            LoadCharts();
            drawChartPie(@Html.Raw(Pie_87), 'Pie_87');
            drawChartPie(@Html.Raw(Pie_109), 'Pie_109');
            drawChartPie(@Html.Raw(Pie_90), 'Pie_90');
            drawChartPie(@Html.Raw(Pie_42), 'Pie_42');
            drawChartPie(@Html.Raw(Pie_48), 'Pie_48');
            drawChartPie(@Html.Raw(Pie_112), 'Pie_112');
        }

        function LoadCharts() {
            var regions = [['Country', 'Enrolled']];
            $('#clist input[type=checkbox]').each(function () { if ($(this).is(":checked")) { regions.push([$(this).attr('data-country'), parseInt($(this).val())]); } });
            drawRegionsMap(regions);
        }

        $('#clist input[type=checkbox]').change(function () {
            if (false == $(this).prop("checked")) { $("#select_all").prop('checked', false); }
            if ($('#clist input[type=checkbox]:checked').length == $('#clist input[type=checkbox]').length) { $("#select_all").prop('checked', true); }
            LoadCharts();
        });

        $("#select_all").change(function () { $("#clist input[type=checkbox]").prop('checked', $(this).prop("checked")); LoadCharts(); });
    </script>

}
