﻿@model List<VaccineSurvey.Model.QuestionSubmit>
<div class="card dashboard p-3">
    <table class="table table-bordered table-sm text-left" style="font-size: 13px;">
        <thead>
            <tr>
                <th class="text-center" width="50px">No.</th>
                <th width="60%">ID</th>
                <th class="text-center">Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                int counter = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@counter</td>
                        <td>@item.CurrentUserId</td>
                        <td class="text-center">@item.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</td>
                    </tr>
                    counter++;
                }
            }
            else
            {
                <tr class="no-data"><td colspan="3" class="text-center" style="padding: 40px 5px;">No data found.</td></tr>
            }
        </tbody>
    </table>
</div>
