﻿@using VaccineSurvey.ViewModel
@model List<CountryViewModel>
@{
    ViewBag.Title = "FREQUENCY BY COUNTRY";
    int counter = 1;
    var total = Model.Sum(x => x.Counter);
}
<div class="card dashboard">
    <div class="service_list"><h4>@ViewBag.Title</h4></div>
    <div class="p-3">
        <table class="dataTable table table-bordered table-sm text-left" style="font-size: 13px;">
            <thead>
                <tr style="font-size: 15px;">
                    <th class="text-center" width="50px">No.</th>
                    <th>Country</th>
                    <th class="text-center">Count</th>
                    <th class="text-center">Percentage %</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@counter</td>
                        <td>@item.Country</td>
                        <td class="text-center">@item.Counter</td>
                        <td class="text-center">@(((Convert.ToDouble(item.Counter) / total) * 100).ToString("0.00"))</td>
                    </tr>
                    counter++;
                }
            </tbody>
            <tfoot>
                <tr style="font-size: 15px;">
                    <td></td>
                    <td><b>Total</b></td>
                    <td class="text-center"><b>@total</b></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/datatables.min.js"></script>
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <style>
        table.dataTable thead {
            cursor: pointer
        }

            table.dataTable thead > tr > td.sorting,
            table.dataTable thead > tr > td.sorting_asc,
            table.dataTable thead > tr > td.sorting_desc,
            table.dataTable thead > tr > th.sorting,
            table.dataTable thead > tr > th.sorting_asc,
            table.dataTable thead > tr > th.sorting_desc {
                padding-right: 30px
            }

            table.dataTable thead > tr > td:active,
            table.dataTable thead > tr > th:active {
                outline: 0
            }

            table.dataTable thead .sorting,
            table.dataTable thead .sorting_asc,
            table.dataTable thead .sorting_asc_disabled,
            table.dataTable thead .sorting_desc,
            table.dataTable thead .sorting_desc_disabled {
                cursor: pointer;
                position: relative
            }

                table.dataTable thead .sorting:after,
                table.dataTable thead .sorting:before,
                table.dataTable thead .sorting_asc:after,
                table.dataTable thead .sorting_asc:before,
                table.dataTable thead .sorting_asc_disabled:after,
                table.dataTable thead .sorting_asc_disabled:before,
                table.dataTable thead .sorting_desc:after,
                table.dataTable thead .sorting_desc:before,
                table.dataTable thead .sorting_desc_disabled:after,
                table.dataTable thead .sorting_desc_disabled:before {
                    position: absolute;
                    bottom: .5em;
                    display: block;
                    opacity: .3
                }

                table.dataTable thead .sorting:before,
                table.dataTable thead .sorting_asc:before,
                table.dataTable thead .sorting_asc_disabled:before,
                table.dataTable thead .sorting_desc:before,
                table.dataTable thead .sorting_desc_disabled:before {
                    right: 1em;
                    content: "\f0de";
                    font-family: 'FontAwesome';
                    font-weight: 900;
                    font-size: 1rem
                }

                table.dataTable thead .sorting:after,
                table.dataTable thead .sorting_asc:after,
                table.dataTable thead .sorting_asc_disabled:after,
                table.dataTable thead .sorting_desc:after,
                table.dataTable thead .sorting_desc_disabled:after {
                    content: "\f0dd";
                    font-family: 'FontAwesome';
                    font-weight: 900;
                    right: 16px;
                    font-size: 1rem
                }

                table.dataTable thead .sorting_asc:before,
                table.dataTable thead .sorting_desc:after {
                    opacity: 1
                }

                table.dataTable thead .sorting_asc_disabled:before,
                table.dataTable thead .sorting_desc_disabled:after {
                    opacity: 0
                }
    </style>
    <script>
        $('.dataTable').DataTable({ "aaSorting": [], searching: false, paging: false, info: false });
    </script>
}