﻿@using VaccineSurvey.ViewModel
@using Microsoft.Ajax.Utilities;
@model List<CountryFeedbackViewModel>
@{
    ViewBag.Title = "FEEDBACK BY PARTICIPANT";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Countries = Model.OrderBy(m => m.Country).DistinctBy(m => new { m.Country }).ToList();
}

<div class="card dashboard">
    <div class="service_list"><h4>@ViewBag.Title</h4></div>
    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="text-align: right; padding-bottom: 10px;">
                    <form action="/Dashboard/ExportData" method="post">

                        <button type="submit" class="button" style="width:180px;">Export <i class="fa fa-file-excel-o"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-sm text-left" style="font-size: 13px;">
            <thead>
                <tr>
                    <th class="text-center" width="50px">No.</th>
                    <th width="20%">ID</th>
                    <th width="12%" class="text-center">Date</th>
                    <th class="text-center">Feedback</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Country in Countries)
                {
                    int counter = 1;
                    <tr>
                        <th colspan="4" style="background-color: #f3f3f3;">@Country.Country</th>
                    </tr>
                    foreach (var item in Model.Where(x => x.Country == Country.Country))
                    {
                        <tr>
                            <td class="text-center">@counter</td>
                            <td>@item.CurrentUserId</td>
                            <td>@item.FeedbackDate</td>
                            <td>@item.Feedback</td>

                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    .button {
        color: #5bbc2e !important;
    }

        .button:hover {
            background: #5bbc2e !important;
            color: #fff !important
        }
</style>