﻿@using VaccineSurvey.Model
@model List<QuestionSubmit>
@{
    ViewBag.Title = "Dashboard";
    int counter = 1;
}
<div class="card dashboard">
    <div class="service_list"><h4>@ViewBag.Title</h4></div>
    <div class="p-3">
        <table class="table table-bordered table-sm text-left" style="font-size: 13px;">
            <thead>
                <tr>
                    <th class="text-center" width="50px">No.</th>
                    <th width="40%">ID</th>
                    <th>Country</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@counter</td>
                        <td>@item.CurrentUserId</td>
                        <td>@item.Answer</td>
                        <td class="text-center">@item.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</td>
                        <td class="text-center"><a href="/Dashboard/Result/@item.CurrentUserId">View</a></td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>
