﻿@{
    ViewBag.Title = "Dashboard";
}
<link href="~/Content/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="edit_form">
            <div class="row">
                <div class="col-md-2 m-2 text-left">
                    <label class="col-form-label">Date Range</label>
                </div>
                <div class="col-md-3 m-2 text-left">
                    <div class='input-group' id='daterangepickervalidate'>
                        <input type='text' class="form-control" readonly placeholder="Select date range" required style="background-color: white" />
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-check-o"></i></span></div>
                    </div>
                </div>
                <div class="col-md-6 m-2 text-left">
                    <button onclick="ClickLoadData()" type="button" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                    <a id="Export" href="javascript:;" class="btn btn-success" style="display:none;margin-left: 15px;"><span class="fa fa-file-excel-o"></span> Download Excel</a>
                    @*<a id="ViewResults" href="javascript:;" class="btn btn-success" style="display:none;margin-left: 15px;"><span class="fa fa-file-excel-o"></span> View</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="RecordGrid"></div>
@section scripts
{
    <style>
        .border-red {
            border: 1px solid red;
        }
    </style>
    <script src="~/Content/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/Content/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
        var startdate = "", enddate = "";

        $('#daterangepickervalidate').daterangepicker({
            buttonClasses: ' btn',
            drops: 'down',
            autoApply: true,
            applyClass: 'btn-primary',
            cancelClass: 'btn-secondary',
            singleDatePicker: false,
            showDropdowns: true,
            locale: { format: 'DD/MM/YYYY' }
        }, function (start, end, label) {
            $('#daterangepickervalidate .form-control').val(start.format('DD/MM/YYYY') + ' = ' + end.format('DD/MM/YYYY'));
            startdate = start.format('DD/MM/YYYY');
            enddate = end.format('DD/MM/YYYY');
        });

        function ClickLoadData() {
            $('.border-red').removeClass('border-red');
            if (startdate.length > 0 && enddate.length > 0) {
                $.ajax({
                    url: "@Url.Action("GetList")",
                    data: { "FromDate": startdate, "Todate": enddate },
                    success: function (data) {
                        $("#RecordGrid").html(data);
                        if ($('.no-data').length > 0) $("#Export").hide().attr('href', '');
                        else {
                            $("#Export").show().attr('href', '/Dashboard/Download?FromDate=' + startdate + '&Todate=' + enddate);
                            //$("#ViewResults").show().attr('href', '/Dashboard/NewResult?FromDate=' + startdate + '&Todate=' + enddate);
                        }
                    }, error: function (e) {
                        console.log(e);
                        $("#RecordGrid").html("");
                        $("#Export").hide().attr('href', '');
                    }
                });
            }
            else {
                $('#daterangepickervalidate').addClass('border-red');
            }
        }
    </script>
}