﻿@model VaccineSurvey.Dto.ExcelDto
@using Microsoft.Ajax.Utilities;
<div class="card dashboard">
    <div class="dashboard_new">
        <div class="user_dashboard">
        </div>
        <div style="float: right;margin-right: 10px;margin-bottom: 10px;"><a href="/Dashboard/New" class="btn login-btn green-btn">Back</a></div>
    </div>
</div>

<div class="card dashboard p-3" style="overflow: auto">
    <table class="table table-bordered table-sm text-left" style="font-size: 12px;">
        <thead>
            <tr>
                <th>User Id</th>
                <th>Date</th>
                @foreach (var item in Model.ExcelQuestions)
                {
                    <th>@item.ColumnName</th>
                    if (item.ColumnName.Contains("[Other]") || item.ColumnName.Contains("[Other/"))
                    {
                        <th>@item.ColumnName</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                var QuestionSubmit = Model.QuestionSubmit.OrderByDescending(m => m.CreatedDate).ThenBy(x => x.CurrentUserId).DistinctBy(m => new { m.CurrentUserId, m.CreatedDate }).ToList();

                foreach (var user in QuestionSubmit)
                {
                    <tr>
                        <td>@user.CurrentUserId</td>
                        <td>@user.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</td>
                        @foreach (var item in Model.ExcelQuestions)
                        {
                            if (item.OptionId > 0)
                            {
                                var answer = Model.QuestionSubmit.Where(x => x.CurrentUserId == user.CurrentUserId && x.QuestionId == item.Id && x.QuestionOptionId == item.OptionId).FirstOrDefault();
                                if (answer != null)
                                {
                                    <td>1</td> 
                                    if (item.ColumnName.Contains("[Other]") || item.ColumnName.Contains("[Other/"))
                                    {
                                        <td>@answer.Answer</td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    if (item.ColumnName.Contains("[Other]") || item.ColumnName.Contains("[Other/"))
                                    {
                                        <td></td> 
                                    }
                                }
                            }
                            else
                            {
                                var answers = Model.QuestionSubmit.Where(x => x.CurrentUserId == user.CurrentUserId && x.QuestionId == item.Id).FirstOrDefault();
                                if (answers != null)
                                {
                                    <td>@answers.Answer</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>