﻿@model List<VaccineSurvey.Dto.ResultDto>
@{
    ViewBag.Title = Model.FirstOrDefault().CurrentUserId;
    int counter = 1;
    int childCount = 1;
}
<div class="card dashboard">
    <div class="dashboard_new">
        <div class="user_dashboard">
            <h2>@Model.FirstOrDefault().CurrentUserId</h2>
            <p>Date: @(Model.FirstOrDefault().CreatedDate.ToString("dd MMM yyyy hh:mm tt"))</p>
        </div>
        <div style="float: right;margin-right: 10px;margin-bottom: 10px;"><a href="/Dashboard" class="btn login-btn green-btn">Back</a></div>
    </div>
</div>
<div class="card dashboard p-3">
    <table class="table table-bordered table-sm text-left" style="font-size: 13px;">
        <thead>
            <tr>
                <th class="text-center" width="50px"></th>
                <th>Category</th>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@counter</td>
                    <td>@item.CategoryName</td>
                    @if (item.QuestionId == 12)
                    {
                        <td>Child @childCount</td>
                        childCount++;
                    }
                    else
                    {
                        <td>@item.QuestionText</td>
                    }
                    <td>@item.Answer</td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>