﻿@model VaccineSurvey.Model.Question
@{
    ViewBag.Title = "Edit Questions";
    var Language = UserRoleDetails.GetLanguage();
    var Role = UserRoleDetails.GetRole();
}
<style>
    input,
    select,
    textarea {
        max-width: 800px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-success" role="alert">@TempData["Success"]</div></div></div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2"><div class="col-sm-12"><div class="alert alert-danger" role="alert">@TempData["Error"]</div></div></div>
            }

            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.ParentId)

                        if (Language == "admin")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ZH, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ZH, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_FR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_FR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_IT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_IT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_PT, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_PT, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_ES, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_ES, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_RU, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_RU, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_UR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_UR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_HI, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_HI, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name_MR, new { @class = "font-weight-bold" })
                                @Html.EditorFor(model => model.Name_MR, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Sequence, new { @class = "font-weight-bold required" })
                                @Html.EditorFor(model => model.Sequence, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.IsVisible)
                                    @Html.LabelFor(m => m.IsVisible)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, new { @class = "font-weight-bold required" })
                                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.SelectCategoryId, "(None)", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.FormInputId, new { @class = "font-weight-bold required" })
                                @Html.DropDownList("FormInputId", (IEnumerable<SelectListItem>)ViewBag.SelectFormInputId, "(None)", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.FormInputId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.IsRequired)
                                @Html.LabelFor(m => m.IsRequired)
                            </div> 
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="font-weight-bold">Category</label>
                                <input class="form-control disabled text-box single-line" disabled="disabled" type="text" value="@Model.Name">
                                @Html.HiddenFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="Name_@Language.ToUpper()">Category @Role</label>
                                <input class="form-control text-box single-line" id="Name_@Language.ToUpper()" name="Name_@Language.ToUpper()" type="text" value="@Html.Raw(UserRoleDetails.GetPropValue(Model, "Name", Language))">
                            </div>
                        }
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-floppy-o"></span> Save</button>
                            @if (Model.ParentId == null)
                            {
                                <a href="@Url.Action("Index", "Questions")" class="btn btn-sm btn-dark">Cancel</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Details", "Questions", new { id = Model.ParentId })" class="btn btn-sm btn-dark">Cancel</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        (function ($) {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 2000);
        })(jQuery);
    </script>
}
