﻿@model VaccineSurvey.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    input,
    select,
    textarea {
        max-width: 400px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    </div>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-2 text-left pb-3">
                <div class="col-sm-12">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "font-weight-bold required" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "font-weight-bold required" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "font-weight-bold required" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Change password" class="btn btn-success" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>