﻿@model VaccineSurvey.ViewModel.EditProfileViewModel
@{
    ViewBag.Title = "Delete User";
}

<style>
    input,
    select,
    textarea {
        max-width: 400px;
    }
</style>
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    </div>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            @Html.Raw(TempData["Error"])
                        </div>
                    </div>
                </div>
            }
            <div class="row mt-2 text-left">
                <div class="col-sm-12">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(m => m.Id)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Enter Fast Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, new { @class = "font-weight-bold required" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Enter Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "font-weight-bold" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @placeholder = "Enter Email" } })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-sm btn-success"><span class="fa fa-trash-o"></span> Delete</button>
                            <a title="Cancel" href="@Url.Action("Index")" class="btn btn-sm btn-dark">Cancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>