﻿@model VaccineSurvey.ViewModel.EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="container">
            @if (TempData["Success"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-success" role="alert">
                            @TempData["Success"]
                        </div>
                    </div>
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="row mt-2">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            @TempData["Error"]
                        </div>
                    </div>
                </div>
            }
            <div class="row mt-2 text-left pb-3">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @autocomplete = "off" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        @Html.LabelFor(m => m.FirstName, new { @class = "font-weight-bold required" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "", @required = "required" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        @Html.LabelFor(m => m.LastName, new { @class = "font-weight-bold required" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "", @required = "required" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                        <button type="submit" id="submit" class="btn btn-success">Submit</button>
                        <a class="btn btn-primary" href="/Users/ChangePassword">Change Password</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 