﻿@model IEnumerable<VaccineSurvey.ViewModel.Users_in_Role_ViewModel>
@{
    ViewBag.Title = "User Management";
}
<div class="card dashboard">
    <div class="service_list">
        <h4>@ViewBag.Title</h4>
        <div class="edit_form"><div class="row"><div class="col-md-6 text-left m-2"><a href="@Url.Action("Create")" class="btn btn-sm btn-success"><span class="fa fa-plus"></span> Add User</a></div></div></div>
    </div>
</div>
<div class="card dashboard">
    <div class="service_list">
        <div class="table-responsive">
            <table class="table table-hover table-sm" id="customTable">
                <thead>
                    <tr>
                        <th class="text-left">First Name</th>
                        <th class="text-left">Last Name</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Role</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-left">@item.FirstName</td>
                            <td class="text-left">@item.LastName</td>
                            <td class="text-left">@item.Email</td>
                            <td class="text-left">@item.UserRoles</td>
                            <td class="text-right">
                                <a title="Edit User" href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary"><span class="fa fa-pencil"></span></a>
                                @if (item.Id != Convert.ToString(ViewBag.User))
                                {
                                    <a title="Delete User" href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>