﻿@model VaccineSurvey.ViewModel.LoginViewModel
@{ 
    ViewBag.Title = "Login"; 
}
<section class="corona_form manin3">
    <div class="graphical_img">
        <div class="container">
            <div class="login_new">
                <h2>Admin Login</h2>
                <div class="site-wrapper">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="inner cover">
                            <div class="form-control">
                                @Html.LabelFor(model => model.Email, new { @class = "login_lable" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "input_style", @autofocus = "autofocus" })
                            </div>
                            <div class="form-control">
                                @Html.LabelFor(model => model.Password, new { @class = "login_lable" })
                                @Html.PasswordFor(m => m.Password, new { @class = "input_style" })
                            </div>
                            <div class="form-control">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section> 